{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vehicle Status</title>
   <!-- DataTables -->
   <link rel="stylesheet" href="{% static 'tracker/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
   <link rel="stylesheet" href="{% static 'tracker/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
 
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="{% static 'tracker/plugins/fontawesome-free/css/all.min.css' %}">
  <!-- IonIcons -->
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'tracker/dist/css/adminlte.min.css' %}">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  
  <!-- jQuery -->
  <script src="{% static 'tracker/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'tracker/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- DataTables -->
<script src="{% static 'tracker/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'tracker/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'tracker/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'tracker/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<!-- AdminLTE -->
<script src="{% static 'tracker/dist/js/adminlte.js' %}"></script>
<!------CanvasJS for Chart-------------->
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<!-- ChartJS -->
<script src="{% static 'tracker/plugins/chart.js/Chart.min.js' %}"></script>
<!-- OPTIONAL SCRIPTS -->
<script src="{% static 'tracker/plugins/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'tracker/dist/js/demo.js' %}"></script>
<script src="{% static 'tracker/dist/js/pages/dashboard3.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'tracker/dist/js/demo.js' %}"></script>
 <!-- REQUIRED SCRIPTS -->
 <script src="{% static 'tracker/ckeditor/ckeditor.js' %}"></script>

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <script>
    $(function () {
      setTimeout(function() {
        window.location.href = "/Operator/login_auth/?next=/Operator/";
    }, 15*60*1000);
  
      $("#example1").DataTable({
        "responsive": true,
        "autoWidth": false,
      });
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    });
  </script>

  <style>
  html,body{
    width: 100%;
  height: 100%;
  min-height: 100%;
  }

  #item img {
    max-width: 100%;
}

  p {
    color : rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255,196,37);
    font-style:normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-variant: small-caps;
}

#top, #bottom, #left, #right {
	background: #a5ebff;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

    * {
  box-sizing: border-box;
}

html, body, .flip, .card, .front, .back , .card{
    height:100%;
    background: rgba(166, 226, 198, 0.05)
  }

</style>

</head>
<body>
            <!-- Content Header (Page header) -->
        <div class="content-header">
          <p><img src="{% static 'tracker/dist/img/Vermeer.png' %}" height="46" width="55">&nbsp;Heavy Machinery Tracking System </p>
        
          <a class="nav-link"  href="{%  url 'ologout' %}" align="right" style="color:#f54343;">

            <i class="fas fa-sign-out-alt"></i>
          </a>
          
        </div>
               
    <div id="row" style="padding-left: 2%;padding-right: 2%;padding-bottom: 2%; align-items: center; ">
    <table style="width: 100%;" class="table table-bordered">
      <tr>
        <td>
        <div id="row" style="line-height: 30px;padding-top:1%; width: 100%;">
        <div class="col-sm-6" style="float: left;padding: 2%;">
        <div class="card" style="width: 100%; height: fit-content;">
        <div class="card-header" id="cardheader">
        <span style="float:left;font-size: 20px;color:rgb(199, 3, 3); font-family: 'Times New Roman', Times, serif;"><b> Tracker </b></span>
        </div>
        <div class="card-body table-responsive" style="border: 1px solid #93adad;">
        <table id="example1" class="table table-hover">
        <thead>
        <tr>
        <th>Virtual ID</th>
        <th>Vehicle Detail</th>
        <th>Last update</th>
        <th>View</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>JIVVMR0001B0001</td>
        <td>vehicle-1</td>
        <td>Feb 17 2023 10:32:35</td>
        <td> <a href=" {% url 'oviewdetail' tracker='JIVVMR0001B0001' %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-navicon" style="cursor:pointer;color: rgb(0,93,50);"></i></a></td>
        </tr>

        <!-- <tr>
        <td>JIVVMR0002B0002</td>
        <td>vehicle-2</td>     -->
        <!-- <td>321</td> -->
        <!-- <td> <a href=" {% url 'viewdetail' tracker='JIVVMR0002B0002' %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-navicon" style="cursor:pointer;color: rgb(0,93,50);"></i></a></td>
        </tr> -->

        <!-- <tr>
        <td>JIVMOT0003B0003</td>
        <td>Bolero - OD 02 BB 8459</td>
        <td> <a href=" {% url 'viewdetail' tracker='JIVMOT0003B0003' %}"><i class="fas fa-ambulance" style="cursor:pointer;color: #E51717;"></i></a></td>
        </tr>

        <tr>
        <td>JIVMOT0005B0005</td>
        <td>EECO - OD 02 BA 0723</td>
        <td> <a href=" {% url 'viewdetail' tracker='JIVMOT0005B0005' %}"><i class="fas fa-ambulance" style="cursor:pointer;color: #E51717;"></i></a></td>
        </tr> -->

        </tbody>
        </table>  
        </div>
        </div>
        </div>
      
        <div class="col-sm-6" style="float: right;padding: 2%;">

          {{folium.map|safe}}
        </div> 
        </td>
      </tr>
    </table>
  </div>
</body>
</html>
{% include 'optr/footer.html' %}