{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vehicle status</title>
   <!-- DataTables -->
   <link rel="stylesheet" href="{% static 'tracker/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
   <link rel="stylesheet" href="{% static 'tracker/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
 
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="{% static 'tracker/plugins/fontawesome-free/css/all.min.css' %}">
  <!-- IonIcons -->
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'tracker/dist/css/adminlte.min.css' %}">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  
  <!-- jQuery -->
  <script src="{% static 'tracker/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'tracker/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- DataTables -->
<script src="{% static 'tracker/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'tracker/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'tracker/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'tracker/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<!-- AdminLTE -->
<script src="{% static 'tracker/dist/js/adminlte.js' %}"></script>
<!------CanvasJS for Chart-------------->
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<!-- ChartJS -->
<script src="{% static 'tracker/plugins/chart.js/Chart.min.js' %}"></script>
<!-- OPTIONAL SCRIPTS -->
<script src="{% static 'tracker/plugins/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'tracker/dist/js/demo.js' %}"></script>
<script src="{% static 'tracker/dist/js/pages/dashboard3.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'tracker/dist/js/demo.js' %}"></script>
 <!-- REQUIRED SCRIPTS -->
 <script src="{% static 'tracker/ckeditor/ckeditor.js' %}"></script>

 <script>
    $(function () {
      setTimeout(function() {
        window.location.href = "/Operator/login_auth/?next=/Operator/";
    }, 15*60*1000);
  
      $("#example1").DataTable({
        "responsive": true,
        "autoWidth": false,
      });
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    });
  </script>

  <style>
  p {
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255,196,37);
    font-style:normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-variant: small-caps;
}

</style>

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
	 <!--[if lte IE 8]>
	     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
	 <![endif]-->
	  <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
	   <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>
<body>
  <div class="content-header">
    <p><img src="{% static 'tracker/dist/img/Vermeer.png' %}" height="46" width="55">&nbsp;Heavey Machinery Tracking System </p>
    <label style="float: right;">&nbsp;&nbsp; &nbsp; <a href="{%  url 'ologout' %}" style="color:#f54343;">
      <i class="fas fa-sign-out-alt"></i>
    </a>&nbsp;&nbsp;&nbsp;&nbsp;</label>

    <div id="row" style="padding-left:2%;padding-right:2%;padding-bottom:2%">
      <table style="width: 100%; background-image:linear-gradient(#ececec, #ffffff, #ececec);" class="table table-bordered ">
        <tr>
          <td>
          <div id="row" style="line-height: 20px;padding-top:1%; width: 100%;">
          <div class="col-sm-6" style="float: left; padding: 2%;">
           
          <div class="card-body table-responsive" style="width:100%;height:100%;">
          <label style="font: bold; font-family: 'Times New Roman', Times, serif; color: rgb(199, 3, 3); font-size: large;">MAP VIEW</label><br>

    
    {{folium.map|safe}}
    {{Empty.message}}

          </div>
            </div>
          </div>
          </div>
          </div>
          
<!-- <input type="button" value="View Detailed" style="float: right; background-color: #ebd5d5; font-family: 'Times New Roman', Times, serif; font-style: bold;"> -->
          <div id="row" style="line-height: 20px;padding-top:0%; width: 100%;">
          <div class="col-sm-6" style="float: right; padding: 2%;">
            
          <div class="card-body table-responsive" style="width:100%;height:100%;">
          <label style="font: bold; font-family: 'Times New Roman', Times, serif; color: rgb(199, 3, 3); font-size: large;">GRAPH VIEW</label><br>
  
    {{graph.graph|safe}}
    {{Empty.message}}
    
          <br>
          <br>
          <button class="button" role="button" style="float: right;background-color: #003470;">
            <label style="color: #ffffff;">Report</label>
          </button>
          </div>
          </div>
          </div>
          </div>
          </div>
          </td>
        </tr>
</table>
</div>
</body>
</html>
{% include 'optr/footer.html' %}