

<style>

</style>

<div id="fig_el29548139902213122592441676906"></div>
<script>
function mpld3_load_lib(url, callback){
  var s = document.createElement('script');
  s.src = url;
  s.async = true;
  s.onreadystatechange = s.onload = callback;
  s.onerror = function(){console.warn("failed to load library " + url);};
  document.getElementsByTagName("head")[0].appendChild(s);
}

if(typeof(mpld3) !== "undefined" && mpld3._mpld3IsLoaded){
   // already loaded: just create the figure
   !function(mpld3){
       
       mpld3.draw_figure("fig_el29548139902213122592441676906", {"width": 640.0, "height": 480.0, "axes": [{"bbox": [0.125, 0.10999999999999999, 0.775, 0.77], "xlim": [-0.6400000000000001, 4.640000000000001], "ylim": [0.0, 24.0], "xdomain": [-0.6400000000000001, 4.640000000000001], "ydomain": [0.0, 24.0], "xscale": "linear", "yscale": "linear", "axes": [{"position": "bottom", "nticks": 5, "tickvalues": null, "tickformat_formatter": "", "tickformat": null, "scale": "linear", "fontsize": 10.0, "grid": {"gridOn": false}, "visible": true}, {"position": "left", "nticks": 6, "tickvalues": null, "tickformat_formatter": "", "tickformat": null, "scale": "linear", "fontsize": 10.0, "grid": {"gridOn": false}, "visible": true}], "axesbg": "#FFFFFF", "axesbgalpha": null, "zoomable": true, "id": "el29548139902195794384", "lines": [], "paths": [{"data": "data01", "xindex": 0, "yindex": 1, "coordinates": "data", "pathcodes": ["M", "L", "L", "L", "Z"], "id": "el29548139902195551200", "dasharray": "none", "alpha": 1, "facecolor": "#0000FF", "edgecolor": "none", "edgewidth": 1.0, "zorder": 1}, {"data": "data01", "xindex": 0, "yindex": 2, "coordinates": "data", "pathcodes": ["M", "L", "L", "L", "Z"], "id": "el29548139902195551816", "dasharray": "none", "alpha": 1, "facecolor": "#0000FF", "edgecolor": "none", "edgewidth": 1.0, "zorder": 1}, {"data": "data01", "xindex": 0, "yindex": 3, "coordinates": "data", "pathcodes": ["M", "L", "L", "L", "Z"], "id": "el29548139902195131336", "dasharray": "none", "alpha": 1, "facecolor": "#0000FF", "edgecolor": "none", "edgewidth": 1.0, "zorder": 1}, {"data": "data01", "xindex": 0, "yindex": 4, "coordinates": "data", "pathcodes": ["M", "L", "L", "L", "Z"], "id": "el29548139902195131224", "dasharray": "none", "alpha": 1, "facecolor": "#0000FF", "edgecolor": "none", "edgewidth": 1.0, "zorder": 1}, {"data": "data02", "xindex": 0, "yindex": 1, "coordinates": "data", "pathcodes": ["M", "L", "L", "L", "Z"], "id": "el29548139902195903960", "dasharray": "none", "alpha": 1, "facecolor": "#0000FF", "edgecolor": "none", "edgewidth": 1.0, "zorder": 1}, {"data": "data03", "xindex": 0, "yindex": 1, "coordinates": "data", "pathcodes": ["M", "L", "L", "L", "Z"], "id": "el29548139902195904296", "dasharray": "none", "alpha": 1, "facecolor": "#0000FF", "edgecolor": "none", "edgewidth": 1.0, "zorder": 1}, {"data": "data03", "xindex": 2, "yindex": 1, "coordinates": "data", "pathcodes": ["M", "L", "L", "L", "Z"], "id": "el29548139902195939032", "dasharray": "none", "alpha": 1, "facecolor": "#0000FF", "edgecolor": "none", "edgewidth": 1.0, "zorder": 1}, {"data": "data03", "xindex": 3, "yindex": 1, "coordinates": "data", "pathcodes": ["M", "L", "L", "L", "Z"], "id": "el29548139902195939256", "dasharray": "none", "alpha": 1, "facecolor": "#0000FF", "edgecolor": "none", "edgewidth": 1.0, "zorder": 1}], "markers": [], "texts": [{"text": "8.57 hrs", "position": [140.12121212121212, 188.94466666666662], "coordinates": "display", "h_anchor": "middle", "v_baseline": "auto", "rotation": -0.0, "fontsize": 10.0, "color": "#000000", "alpha": 1, "zorder": 3, "id": "el29548139902195550976"}, {"text": "0.07000000000000028 hrs", "position": [140.12121212121212, 218.82066666666665], "coordinates": "display", "h_anchor": "middle", "v_baseline": "auto", "rotation": -0.0, "fontsize": 10.0, "color": "#000000", "alpha": 1, "zorder": 3, "id": "el29548139902195551760"}, {"text": "0.08999999999999986 hrs", "position": [140.12121212121212, 230.98666666666665], "coordinates": "display", "h_anchor": "middle", "v_baseline": "auto", "rotation": -0.0, "fontsize": 10.0, "color": "#000000", "alpha": 1, "zorder": 3, "id": "el29548139902195550696"}, {"text": "0.0 hrs", "position": [140.12121212121212, 231.14066666666665], "coordinates": "display", "h_anchor": "middle", "v_baseline": "auto", "rotation": -0.0, "fontsize": 10.0, "color": "#000000", "alpha": 1, "zorder": 3, "id": "el29548139902195902168"}, {"text": "7.129999999999999 hrs", "position": [234.06060606060606, 420.25266666666664], "coordinates": "display", "h_anchor": "middle", "v_baseline": "auto", "rotation": -0.0, "fontsize": 10.0, "color": "#000000", "alpha": 1, "zorder": 3, "id": "el29548139902213026872"}, {"text": "23.59 hrs", "position": [328.0, 420.25266666666664], "coordinates": "display", "h_anchor": "middle", "v_baseline": "auto", "rotation": -0.0, "fontsize": 10.0, "color": "#000000", "alpha": 1, "zorder": 3, "id": "el29548139902195902112"}, {"text": "23.59 hrs", "position": [421.9393939393939, 420.25266666666664], "coordinates": "display", "h_anchor": "middle", "v_baseline": "auto", "rotation": -0.0, "fontsize": 10.0, "color": "#000000", "alpha": 1, "zorder": 3, "id": "el29548139902195903120"}, {"text": "23.59 hrs", "position": [515.8787878787878, 420.25266666666664], "coordinates": "display", "h_anchor": "middle", "v_baseline": "auto", "rotation": -0.0, "fontsize": 10.0, "color": "#000000", "alpha": 1, "zorder": 3, "id": "el29548139902195937968"}, {"text": "Days", "position": [0.5, -0.07921476671476674], "coordinates": "axes", "h_anchor": "middle", "v_baseline": "hanging", "rotation": -0.0, "fontsize": 10.0, "color": "#000000", "alpha": 1, "zorder": 3, "id": "el29548139902195796568"}, {"text": "Hours", "position": [-0.06633624551971327, 0.5], "coordinates": "axes", "h_anchor": "middle", "v_baseline": "auto", "rotation": -90.0, "fontsize": 10.0, "color": "#000000", "alpha": 1, "zorder": 3, "id": "el29548139902195880512"}, {"text": "Daily Usage Hours", "position": [0.5, 1.0225468975468974], "coordinates": "axes", "h_anchor": "middle", "v_baseline": "auto", "rotation": -0.0, "fontsize": 12.0, "color": "#000000", "alpha": 1, "zorder": 3, "id": "el29548139902195383936"}], "collections": [], "images": [], "sharex": [], "sharey": []}], "data": {"data01": [[-0.4, 0.0, 10.44, 11.21, 11.31], [0.4, 0.0, 10.44, 11.21, 11.31], [0.4, 8.57, 10.51, 11.3, 11.31], [-0.4, 8.57, 10.51, 11.3, 11.31]], "data02": [[0.6, 16.46], [1.4, 16.46], [1.4, 23.59], [0.6, 23.59]], "data03": [[1.6, 0.0, 2.6, 3.6], [2.4000000000000004, 0.0, 3.4000000000000004, 4.4], [2.4000000000000004, 23.59, 3.4000000000000004, 4.4], [1.6, 23.59, 2.6, 3.6]]}, "id": "el29548139902213122592", "plugins": [{"type": "reset"}, {"type": "zoom", "button": true, "enabled": false}, {"type": "boxzoom", "button": true, "enabled": false}]});
   }(mpld3);
}else if(typeof define === "function" && define.amd){
   // require.js is available: use it to load d3/mpld3
   require.config({paths: {d3: "https://d3js.org/d3.v5"}});
   require(["d3"], function(d3){
      window.d3 = d3;
      mpld3_load_lib("https://mpld3.github.io/js/mpld3.v0.5.9.js", function(){
         
         mpld3.draw_figure("fig_el29548139902213122592441676906", {"width": 640.0, "height": 480.0, "axes": [{"bbox": [0.125, 0.10999999999999999, 0.775, 0.77], "xlim": [-0.6400000000000001, 4.640000000000001], "ylim": [0.0, 24.0], "xdomain": [-0.6400000000000001, 4.640000000000001], "ydomain": [0.0, 24.0], "xscale": "linear", "yscale": "linear", "axes": [{"position": "bottom", "nticks": 5, "tickvalues": null, "tickformat_formatter": "", "tickformat": null, "scale": "linear", "fontsize": 10.0, "grid": {"gridOn": false}, "visible": true}, {"position": "left", "nticks": 6, "tickvalues": null, "tickformat_formatter": "", "tickformat": null, "scale": "linear", "fontsize": 10.0, "grid": {"gridOn": false}, "visible": true}], "axesbg": "#FFFFFF", "axesbgalpha": null, "zoomable": true, "id": "el29548139902195794384", "lines": [], "paths": [{"data": "data01", "xindex": 0, "yindex": 1, "coordinates": "data", "pathcodes": ["M", "L", "L", "L", "Z"], "id": "el29548139902195551200", "dasharray": "none", "alpha": 1, "facecolor": "#0000FF", "edgecolor": "none", "edgewidth": 1.0, "zorder": 1}, {"data": "data01", "xindex": 0, "yindex": 2, "coordinates": "data", "pathcodes": ["M", "L", "L", "L", "Z"], "id": "el29548139902195551816", "dasharray": "none", "alpha": 1, "facecolor": "#0000FF", "edgecolor": "none", "edgewidth": 1.0, "zorder": 1}, {"data": "data01", "xindex": 0, "yindex": 3, "coordinates": "data", "pathcodes": ["M", "L", "L", "L", "Z"], "id": "el29548139902195131336", "dasharray": "none", "alpha": 1, "facecolor": "#0000FF", "edgecolor": "none", "edgewidth": 1.0, "zorder": 1}, {"data": "data01", "xindex": 0, "yindex": 4, "coordinates": "data", "pathcodes": ["M", "L", "L", "L", "Z"], "id": "el29548139902195131224", "dasharray": "none", "alpha": 1, "facecolor": "#0000FF", "edgecolor": "none", "edgewidth": 1.0, "zorder": 1}, {"data": "data02", "xindex": 0, "yindex": 1, "coordinates": "data", "pathcodes": ["M", "L", "L", "L", "Z"], "id": "el29548139902195903960", "dasharray": "none", "alpha": 1, "facecolor": "#0000FF", "edgecolor": "none", "edgewidth": 1.0, "zorder": 1}, {"data": "data03", "xindex": 0, "yindex": 1, "coordinates": "data", "pathcodes": ["M", "L", "L", "L", "Z"], "id": "el29548139902195904296", "dasharray": "none", "alpha": 1, "facecolor": "#0000FF", "edgecolor": "none", "edgewidth": 1.0, "zorder": 1}, {"data": "data03", "xindex": 2, "yindex": 1, "coordinates": "data", "pathcodes": ["M", "L", "L", "L", "Z"], "id": "el29548139902195939032", "dasharray": "none", "alpha": 1, "facecolor": "#0000FF", "edgecolor": "none", "edgewidth": 1.0, "zorder": 1}, {"data": "data03", "xindex": 3, "yindex": 1, "coordinates": "data", "pathcodes": ["M", "L", "L", "L", "Z"], "id": "el29548139902195939256", "dasharray": "none", "alpha": 1, "facecolor": "#0000FF", "edgecolor": "none", "edgewidth": 1.0, "zorder": 1}], "markers": [], "texts": [{"text": "8.57 hrs", "position": [140.12121212121212, 188.94466666666662], "coordinates": "display", "h_anchor": "middle", "v_baseline": "auto", "rotation": -0.0, "fontsize": 10.0, "color": "#000000", "alpha": 1, "zorder": 3, "id": "el29548139902195550976"}, {"text": "0.07000000000000028 hrs", "position": [140.12121212121212, 218.82066666666665], "coordinates": "display", "h_anchor": "middle", "v_baseline": "auto", "rotation": -0.0, "fontsize": 10.0, "color": "#000000", "alpha": 1, "zorder": 3, "id": "el29548139902195551760"}, {"text": "0.08999999999999986 hrs", "position": [140.12121212121212, 230.98666666666665], "coordinates": "display", "h_anchor": "middle", "v_baseline": "auto", "rotation": -0.0, "fontsize": 10.0, "color": "#000000", "alpha": 1, "zorder": 3, "id": "el29548139902195550696"}, {"text": "0.0 hrs", "position": [140.12121212121212, 231.14066666666665], "coordinates": "display", "h_anchor": "middle", "v_baseline": "auto", "rotation": -0.0, "fontsize": 10.0, "color": "#000000", "alpha": 1, "zorder": 3, "id": "el29548139902195902168"}, {"text": "7.129999999999999 hrs", "position": [234.06060606060606, 420.25266666666664], "coordinates": "display", "h_anchor": "middle", "v_baseline": "auto", "rotation": -0.0, "fontsize": 10.0, "color": "#000000", "alpha": 1, "zorder": 3, "id": "el29548139902213026872"}, {"text": "23.59 hrs", "position": [328.0, 420.25266666666664], "coordinates": "display", "h_anchor": "middle", "v_baseline": "auto", "rotation": -0.0, "fontsize": 10.0, "color": "#000000", "alpha": 1, "zorder": 3, "id": "el29548139902195902112"}, {"text": "23.59 hrs", "position": [421.9393939393939, 420.25266666666664], "coordinates": "display", "h_anchor": "middle", "v_baseline": "auto", "rotation": -0.0, "fontsize": 10.0, "color": "#000000", "alpha": 1, "zorder": 3, "id": "el29548139902195903120"}, {"text": "23.59 hrs", "position": [515.8787878787878, 420.25266666666664], "coordinates": "display", "h_anchor": "middle", "v_baseline": "auto", "rotation": -0.0, "fontsize": 10.0, "color": "#000000", "alpha": 1, "zorder": 3, "id": "el29548139902195937968"}, {"text": "Days", "position": [0.5, -0.07921476671476674], "coordinates": "axes", "h_anchor": "middle", "v_baseline": "hanging", "rotation": -0.0, "fontsize": 10.0, "color": "#000000", "alpha": 1, "zorder": 3, "id": "el29548139902195796568"}, {"text": "Hours", "position": [-0.06633624551971327, 0.5], "coordinates": "axes", "h_anchor": "middle", "v_baseline": "auto", "rotation": -90.0, "fontsize": 10.0, "color": "#000000", "alpha": 1, "zorder": 3, "id": "el29548139902195880512"}, {"text": "Daily Usage Hours", "position": [0.5, 1.0225468975468974], "coordinates": "axes", "h_anchor": "middle", "v_baseline": "auto", "rotation": -0.0, "fontsize": 12.0, "color": "#000000", "alpha": 1, "zorder": 3, "id": "el29548139902195383936"}], "collections": [], "images": [], "sharex": [], "sharey": []}], "data": {"data01": [[-0.4, 0.0, 10.44, 11.21, 11.31], [0.4, 0.0, 10.44, 11.21, 11.31], [0.4, 8.57, 10.51, 11.3, 11.31], [-0.4, 8.57, 10.51, 11.3, 11.31]], "data02": [[0.6, 16.46], [1.4, 16.46], [1.4, 23.59], [0.6, 23.59]], "data03": [[1.6, 0.0, 2.6, 3.6], [2.4000000000000004, 0.0, 3.4000000000000004, 4.4], [2.4000000000000004, 23.59, 3.4000000000000004, 4.4], [1.6, 23.59, 2.6, 3.6]]}, "id": "el29548139902213122592", "plugins": [{"type": "reset"}, {"type": "zoom", "button": true, "enabled": false}, {"type": "boxzoom", "button": true, "enabled": false}]});
      });
    });
}else{
    // require.js not available: dynamically load d3 & mpld3
    mpld3_load_lib("https://d3js.org/d3.v5.js", function(){
         mpld3_load_lib("https://mpld3.github.io/js/mpld3.v0.5.9.js", function(){
                 
                 mpld3.draw_figure("fig_el29548139902213122592441676906", {"width": 640.0, "height": 480.0, "axes": [{"bbox": [0.125, 0.10999999999999999, 0.775, 0.77], "xlim": [-0.6400000000000001, 4.640000000000001], "ylim": [0.0, 24.0], "xdomain": [-0.6400000000000001, 4.640000000000001], "ydomain": [0.0, 24.0], "xscale": "linear", "yscale": "linear", "axes": [{"position": "bottom", "nticks": 5, "tickvalues": null, "tickformat_formatter": "", "tickformat": null, "scale": "linear", "fontsize": 10.0, "grid": {"gridOn": false}, "visible": true}, {"position": "left", "nticks": 6, "tickvalues": null, "tickformat_formatter": "", "tickformat": null, "scale": "linear", "fontsize": 10.0, "grid": {"gridOn": false}, "visible": true}], "axesbg": "#FFFFFF", "axesbgalpha": null, "zoomable": true, "id": "el29548139902195794384", "lines": [], "paths": [{"data": "data01", "xindex": 0, "yindex": 1, "coordinates": "data", "pathcodes": ["M", "L", "L", "L", "Z"], "id": "el29548139902195551200", "dasharray": "none", "alpha": 1, "facecolor": "#0000FF", "edgecolor": "none", "edgewidth": 1.0, "zorder": 1}, {"data": "data01", "xindex": 0, "yindex": 2, "coordinates": "data", "pathcodes": ["M", "L", "L", "L", "Z"], "id": "el29548139902195551816", "dasharray": "none", "alpha": 1, "facecolor": "#0000FF", "edgecolor": "none", "edgewidth": 1.0, "zorder": 1}, {"data": "data01", "xindex": 0, "yindex": 3, "coordinates": "data", "pathcodes": ["M", "L", "L", "L", "Z"], "id": "el29548139902195131336", "dasharray": "none", "alpha": 1, "facecolor": "#0000FF", "edgecolor": "none", "edgewidth": 1.0, "zorder": 1}, {"data": "data01", "xindex": 0, "yindex": 4, "coordinates": "data", "pathcodes": ["M", "L", "L", "L", "Z"], "id": "el29548139902195131224", "dasharray": "none", "alpha": 1, "facecolor": "#0000FF", "edgecolor": "none", "edgewidth": 1.0, "zorder": 1}, {"data": "data02", "xindex": 0, "yindex": 1, "coordinates": "data", "pathcodes": ["M", "L", "L", "L", "Z"], "id": "el29548139902195903960", "dasharray": "none", "alpha": 1, "facecolor": "#0000FF", "edgecolor": "none", "edgewidth": 1.0, "zorder": 1}, {"data": "data03", "xindex": 0, "yindex": 1, "coordinates": "data", "pathcodes": ["M", "L", "L", "L", "Z"], "id": "el29548139902195904296", "dasharray": "none", "alpha": 1, "facecolor": "#0000FF", "edgecolor": "none", "edgewidth": 1.0, "zorder": 1}, {"data": "data03", "xindex": 2, "yindex": 1, "coordinates": "data", "pathcodes": ["M", "L", "L", "L", "Z"], "id": "el29548139902195939032", "dasharray": "none", "alpha": 1, "facecolor": "#0000FF", "edgecolor": "none", "edgewidth": 1.0, "zorder": 1}, {"data": "data03", "xindex": 3, "yindex": 1, "coordinates": "data", "pathcodes": ["M", "L", "L", "L", "Z"], "id": "el29548139902195939256", "dasharray": "none", "alpha": 1, "facecolor": "#0000FF", "edgecolor": "none", "edgewidth": 1.0, "zorder": 1}], "markers": [], "texts": [{"text": "8.57 hrs", "position": [140.12121212121212, 188.94466666666662], "coordinates": "display", "h_anchor": "middle", "v_baseline": "auto", "rotation": -0.0, "fontsize": 10.0, "color": "#000000", "alpha": 1, "zorder": 3, "id": "el29548139902195550976"}, {"text": "0.07000000000000028 hrs", "position": [140.12121212121212, 218.82066666666665], "coordinates": "display", "h_anchor": "middle", "v_baseline": "auto", "rotation": -0.0, "fontsize": 10.0, "color": "#000000", "alpha": 1, "zorder": 3, "id": "el29548139902195551760"}, {"text": "0.08999999999999986 hrs", "position": [140.12121212121212, 230.98666666666665], "coordinates": "display", "h_anchor": "middle", "v_baseline": "auto", "rotation": -0.0, "fontsize": 10.0, "color": "#000000", "alpha": 1, "zorder": 3, "id": "el29548139902195550696"}, {"text": "0.0 hrs", "position": [140.12121212121212, 231.14066666666665], "coordinates": "display", "h_anchor": "middle", "v_baseline": "auto", "rotation": -0.0, "fontsize": 10.0, "color": "#000000", "alpha": 1, "zorder": 3, "id": "el29548139902195902168"}, {"text": "7.129999999999999 hrs", "position": [234.06060606060606, 420.25266666666664], "coordinates": "display", "h_anchor": "middle", "v_baseline": "auto", "rotation": -0.0, "fontsize": 10.0, "color": "#000000", "alpha": 1, "zorder": 3, "id": "el29548139902213026872"}, {"text": "23.59 hrs", "position": [328.0, 420.25266666666664], "coordinates": "display", "h_anchor": "middle", "v_baseline": "auto", "rotation": -0.0, "fontsize": 10.0, "color": "#000000", "alpha": 1, "zorder": 3, "id": "el29548139902195902112"}, {"text": "23.59 hrs", "position": [421.9393939393939, 420.25266666666664], "coordinates": "display", "h_anchor": "middle", "v_baseline": "auto", "rotation": -0.0, "fontsize": 10.0, "color": "#000000", "alpha": 1, "zorder": 3, "id": "el29548139902195903120"}, {"text": "23.59 hrs", "position": [515.8787878787878, 420.25266666666664], "coordinates": "display", "h_anchor": "middle", "v_baseline": "auto", "rotation": -0.0, "fontsize": 10.0, "color": "#000000", "alpha": 1, "zorder": 3, "id": "el29548139902195937968"}, {"text": "Days", "position": [0.5, -0.07921476671476674], "coordinates": "axes", "h_anchor": "middle", "v_baseline": "hanging", "rotation": -0.0, "fontsize": 10.0, "color": "#000000", "alpha": 1, "zorder": 3, "id": "el29548139902195796568"}, {"text": "Hours", "position": [-0.06633624551971327, 0.5], "coordinates": "axes", "h_anchor": "middle", "v_baseline": "auto", "rotation": -90.0, "fontsize": 10.0, "color": "#000000", "alpha": 1, "zorder": 3, "id": "el29548139902195880512"}, {"text": "Daily Usage Hours", "position": [0.5, 1.0225468975468974], "coordinates": "axes", "h_anchor": "middle", "v_baseline": "auto", "rotation": -0.0, "fontsize": 12.0, "color": "#000000", "alpha": 1, "zorder": 3, "id": "el29548139902195383936"}], "collections": [], "images": [], "sharex": [], "sharey": []}], "data": {"data01": [[-0.4, 0.0, 10.44, 11.21, 11.31], [0.4, 0.0, 10.44, 11.21, 11.31], [0.4, 8.57, 10.51, 11.3, 11.31], [-0.4, 8.57, 10.51, 11.3, 11.31]], "data02": [[0.6, 16.46], [1.4, 16.46], [1.4, 23.59], [0.6, 23.59]], "data03": [[1.6, 0.0, 2.6, 3.6], [2.4000000000000004, 0.0, 3.4000000000000004, 4.4], [2.4000000000000004, 23.59, 3.4000000000000004, 4.4], [1.6, 23.59, 2.6, 3.6]]}, "id": "el29548139902213122592", "plugins": [{"type": "reset"}, {"type": "zoom", "button": true, "enabled": false}, {"type": "boxzoom", "button": true, "enabled": false}]});
            })
         });
}
</script>