{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machinery Status</title>

    <link rel="stylesheet" href="{% static 'tracker/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
   <link rel="stylesheet" href="{% static 'tracker/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <!-- <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script> -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-ARXekHgIlEP5GFkWpUq2W3JWtP4V1ooGFC41HbmPTyDhvtcxEpmtdihHZt9eRM60p6S4USkE2iwbVIRsMZjvw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
       <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"> -->

 
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="{% static 'tracker/plugins/fontawesome-free/css/all.min.css' %}">
  <!-- IonIcons -->
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'tracker/dist/css/adminlte.min.css' %}">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  
  <!-- jQuery -->
  <script src="{% static 'tracker/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'tracker/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- AdminLTE -->
<script src="{% static 'tracker/dist/js/adminlte.js' %}"></script>
<!------CanvasJS for Chart-------------->
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<!-- ChartJS -->
<script src="{% static 'tracker/plugins/chart.js/Chart.min.js' %}"></script>
<!-- OPTIONAL SCRIPTS -->
<script src="{% static 'tracker/plugins/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'tracker/dist/js/demo.js' %}"></script>
<script src="{% static 'tracker/dist/js/pages/dashboard3.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'tracker/dist/js/demo.js' %}"></script>
 <!-- REQUIRED SCRIPTS -->
 <script src="{% static 'tracker/ckeditor/ckeditor.js' %}"></script>
<!-- 
 <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script> -->
<!-- Load the Google Charts library -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <script>
  //   $(document).ready(function(){
  //   var trac = {{lu.tracker|safe}};
  //   var v_id = {{Customer.v_id|safe}};
  //   console.log(v_id)
  //   var veh_id = {{Customer.veh_id|safe}};
  //   var mac_type = {{Customer.mac_type|safe}};
  //   var l_com = {{Customer.l_com|safe}};
  //   var l_on = {{Customer.l_on|safe}};
  //   var lua = {{lua.loc|safe}};
  //   var bn = {{Customer.bn|safe}};
  //   var last_7 = [1,2,3,4,5,6,7];
  //   var main_list = {{lst.lst|safe}};
    
  //   for (var i = 0; i < veh_id.length; i++) {
  //     var colors1 = Array(7).fill('blue');
  //     for (var j = 0; j < main_list[i].length; j++) {
  //       if (main_list[i][j] > 8) {
  //         colors1[j] = 'red';
  //       }
  //     }
  //     colors1 = colors1.reverse();

  //     var trace = {
  //       x: last_7.slice().reverse(),
  //       y: main_list[i].slice().reverse(),
  //       name: 'ASSET_ON_STATUS',
  //       type: 'bar',
  //       marker: { color: colors1 }
  //     };

  //     var data1 = [trace];
  //     var layout = {
  //       height: 200,
  //       width: 300,
  //       margin: { l: 13, r: 0, b: 0, t: 0 },
  //       font: { size: 10 }
  //     };

  //     var figure = {
  //       data: data1,
  //       layout: layout
  //     };

  //     var plot_div = $('<div>').attr('id', 'plot_' + (i + 1))[0];
  //     var label = $('<label>').attr('style', 'color: rgb(105, 105, 105)').text('Total Usage Hours:' + main_list[i].reduce((a, b) => a + b, 0));

  //     var tr1 = $('<tr>').append(
  //       $('<input>').attr('type', 'hidden').attr('id','tracker'+(i+1)).val(trac[i]),
  //       $('<td>').text(veh_id[i]),
  //       $('<td>').text(mac_type[i]),
  //       $('<td>').attr('id','timeAgoCell').text(l_com[i]),
  //       $('<td>').attr('id','timeAgoCell1').text(l_on[i]),
  //       $('<td>').text(lua[i]),
  //       $('<td>').append(plot_div, label),
  //       $('<td>').append(
  //         bn[i] == 0?$('<i>').addClass('fa fa-lock').attr('id', 'lock_' + (i + 1)).attr('onClick', 'showLock' + (i + 1) + '()').attr('style', 'cursor: pointer; color: red; font-size: 30px;').attr('title', 'Turn On Ignition'):$('<i>').addClass('fa fa-unlock').attr('id', 'unlock_' + (i + 1)).attr('onClick', 'showUnlock' + (i + 1) + '()').attr('style', 'cursor: pointer; color: green; font-size: 30px;').attr('title', 'Turn Off Ignition')   
  //             ),
  //       $('<td>').append(
  //         $('<a>').attr('href', '{% url "viewdetail" tracker="jiv" %}').attr('title', 'View Details').append(
  //           $('<img>').attr('src', '{% static "tracker/dist/img/detail.png" %}').attr('style', 'cursor: pointer; width: 30px; height: 30px; margin-top: 0px; align-self: left;').attr('alt', 'Details')
  //         )
  //       )
  //     );
      
  //     console.log(tr1.children().eq(3));
  //     $('.tablebody').append(tr1);

  //     Plotly.newPlot('plot_' + (i + 1), figure.data, figure.layout);
  //   }
  // })


    $(function () {
      setTimeout(function() {
        window.location.href = "/Admin/login_auth/?next=/Admin/";
    }, 15*60*1000);
  
      $("#example1").DataTable({	

        "responsive": true,
        "autoWidth": false,
        "pageLength" : 10
      });
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    });

    function refreshPage() {
        window.location.reload();
    }
    
    
  </script>

  <style>
  html,body{
    width: 100%;
  height: 100%;
  min-height: 100%;
  }

  #item img {
    max-width: 100%;
    }

  p {
    color : white;
    text-align: center;
    background-color: rgb(68, 101, 63);
    font-style:normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-variant: small-caps;
    }

    #top, #bottom, #left, #right {
	background: #a5ebff;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

    * {
  box-sizing: border-box;
    }

    html, body, .flip, .card, .front, .back , .card{
    height:100%;
    /* background: rgba(166, 226, 198, 0.05) */
  }
  /* body{
    background-color: rgba(218, 223, 214, 0.8);
  } */

  body{
    background-color: rgb(212, 230, 204);
    font-family:'Times New Roman', Times, serif;
  }
    /* background: url(/static/tracker/dist/img/test1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: rgba(0, 0, 0, 0.452);
  } */

    li {
    display: table-cell!important;
    }

    .main{
        padding: 20px 40px 70px 40px;
        
    }

  .box{
    padding:20px;
    /* border-radius:20px; */
    border : .2px solid rgba(15, 121, 72, 0.082);
    background-color: rgba(15, 121, 72, 0.082);
    /* color:#fff; */
    display:flex;
    align-items:center;
    justify-content:center;
    /* font-size:40px; */
    font-family:'Times New Roman', Times, serif;
  }

  .box1{
    padding:40px;
    /* border-radius:20px; */
    border : .2px solid rgba(15, 121, 72, 0.1);
    background-color: rgba(15, 121, 72, 0.1);
    /* color:#fff; */
    /* display:flex; */
    align-items:center;
    justify-content:center;
    /* font-size:40px; */
    font-family:'Times New Roman', Times, serif;
  }

  .box2{
    padding:20px;
    /* border-radius:20px; */
    /* border : 3px solid rgba(139, 141, 8, 0.671); */
    /* background-color: rgb(8,141,91,.2); */
    /* color:#fff; */
    /* display:flex; */
    align-items:center;
    justify-content:center;
    /* font-size:40px; */
     font-family:'Times New Roman', Times, serif; */
  }

  body{
    color: rgb(32, 56, 27) !important;
  }


.sidebar-menu {
    list-style-type: none;
    padding: 0;
    align-items:first baseline;
    box-sizing: content-box;

}

.tab-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .grid-container {
    display: grid;
    border: 1px solid rgb(8,141,91);
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    }

    table th{
        font-size: 18px;
    }

    table tr{
        font-size: 16px;
    }

  @media screen and (max-width: 600px) {
  /* body{
    font-size: 10px !important;
    } */
   .main{
    padding: 20px 15px 0px 15px;
   }
   .box{
    padding: 10px;
    background-color: white;
   }
   table th{
        font-size: 8px;
    }

    table tr{
        font-size: 8px;
    }


}

/* #tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 2px 4px;
    border-radius: 5px;
    display: inline-block;
}

.hidden {
    display: none;
} */

  /* fontawesome icon 5x */
  .red-text {
        color: red;
    }
    .green-text {
        color: green;
    }
  .blue-text {
    color: blue;
  }
  .orange-text{
    color: orange;
  }
  .sidemenu {
  position: relative;
  /* Set a specific width for the container, if needed */
}


#refresh-button {
  position: absolute;
  right: 0;
  /* You can adjust top, bottom, left, and right values to control the icon's position */
}
#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
    font-size: 24px; 
  }

  #loading-overlay img {
    width: 200px; /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
  }

  .tab-container {
    width: 60px; /* Set the width of the sidebar according to your design */
    background-color: #f5f5f5; /* Set the background color */
    height: 100%; /* Make the sidebar take the full height of its parent container */
    position: fixed; /* Fix the position of the sidebar */
    display: flex; /* Use flexbox to arrange items vertically */
    flex-direction: column; /* Arrange items vertically */
  }

  .sidebar-menu {
    list-style-type: none; /* Remove bullet points from the list */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
  }

  .breadcrumb-item {
    padding: 10px; /* Adjust the padding as needed */
    text-align: center; /* Center the text */
    border-bottom: none; /* Add a border between items */
  }

  .breadcrumb-item:hover {
    background-color: rgb(182, 241, 182); /* Change background color on hover */
  }

  .fas {
    font-size: 20px; /* Adjust the icon size */
  }

  .amb-h{
    font-size: xx-large;
  }

  .amb-d{
    font-size: large;
  }

  p{
    font-size: xx-large;
  }

  .p-but{
    font-size:small;
  }

  #descp{
    font-size: medium;
  }

  @media(max-width:768px){
    .amb-h{
      font-size: large;
    }
    .amb-d{
      font-size: medium;
    }
    p{
      font-size: x-large;
    }
    
    .p-but{
      font-size:x-small;
    }

    #descp{
      font-size: small;
    }

    .table.dataTable>tbody>tr.child span.dtr-title {
        font-size: large;
    }

    .table.dataTable>tbody>tr.child span.dtr-data {
        font-size: medium;
    }

  }

  @media(max-width:576px){
    .amb-h{
      font-size: small;
    }
    .amb-d{
      font-size: small;
    }
    p{
      font-size: larger;
    }
    .p-but{
      font-size:xx-small;
    }

    #descp{
    font-size: smaller;
    }

    .table.dataTable>tbody>tr.child span.dtr-title {
        font-size: smaller;
    }

    .table.dataTable>tbody>tr.child span.dtr-data {
        font-size: smaller;
    }

    /* .table td {
      font-size: smaller !important;
    }

    .table th{
      font-size: small !important;
    } */
  
  }

</style>

</head>

<body style="font-family: 'Times New Roman', Times, serif;" onload="zzz()">
  <div id="loading-overlay">
  <img src="{% static 'tracker/dist/img/loaderdark.gif' %}" alt="Loading...">
  </div>
            <!-- Content Header (Page header) -->
	   <div class="content-header">  
           
      <p class="amb-h">
         <img src="{% static 'tracker/dist/img/Vermeer.png' %}" height="46" width="55" alt="Logo">Heavy Machinery Tracking System
      </p>
      
      <!-- <a href="#" onclick="refreshPage()" style="color:black; cursor: pointer; position: absolute; left: 15px;" data-toggle="tooltip" data-placement="top" title="Refresh">
        <i class="fas fa-sync" style="margin-right: 10px;"></i>
      </a>
      <a href="{% url 'logout' %}" style="color:black; cursor: pointer; position: absolute; right: 15px;">
        <i class="fas fa-sign-out-alt" style="margin-right: 10px;" data-toggle="tooltip" data-placement="top" title="LogOut"></i>
      </a>
      </div> -->

      <div class="container-fluid">
        <div class="row bg-light" style="border-radius: 10px">
          <div class="col-md-6 col-12" style="margin-top: 6px">
            <ol class="breadcrumb" style="border-bottom: none">
              <li class="breadcrumb-item active" style="color: black; font-size: medium;">Home</li>
            </ol>
          </div>
          <div class="col-md-6 col-12 text-md-right text-center" style="margin-top: 8px">
            <ul class="list-unstyled d-flex justify-content-md-end justify-content-between mt-2">
              <li class="mx-2">
                <i class="fas fa-sync" onclick="refreshPage()" style="color: #075b40; cursor: pointer;" data-toggle="tooltip" data-placement="top" title="Refresh"></i>
              </li>
              <li class="mx-2">
                <i class="fas fa-map-marker-alt" onclick="OpenMap()" style="color: #075b40; cursor: pointer;" data-toggle="tooltip" data-placement="top" title="Location"></i>
              </li>
              <li class="mx-2">
                <i class="fas fa-chart-pie" onclick="OpenChart()" style="color: #075b40; cursor: pointer;" data-toggle="tooltip" data-placement="top" title="Pie Chart"></i>
              </li>
              <li class="mx-2">
                <a href="{% url 'logout' %}">
                  <i class="fas fa-sign-out-alt" style="color: #075b40; cursor: pointer;" data-toggle="tooltip" data-placement="top" title="LogOut"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

        <script>         
            function showLock(){
              var password = prompt("Enter the password:");

              if (password === "vermeer"){
                var retVal = confirm("This vehicle is currently immobilized for functionality. Do you want to remove immobilization and restore functionality on the vehicle?");
                  if( retVal == true ) {
                    document.addEventListener('DOMContentLoaded', function() {
                    const icon = document.getElementById('lock');
                    // Disable click functionality by removing the "click" event listener
                    icon.style.pointerEvents = 'none';
                    });
                    tracker = document.getElementById("tracker1").value;
                    // alert(tracker)
                    urls = "/Admin/Lock/";
                    location.href = urls

                    // mywindow = window.open(urls,"_self","toolbar=yes,scrollbars=yes,resizable=yes,top=200,left=100,width=100px,height=100px");
                  }
                }
              else {
                alert("Incorrect password. Access denied.");
            }
          }
     
          function showUnlock(){
            var password = prompt("Enter the password:");

            if (password === "vermeer"){
              var retVal = confirm("Do you want to immobilize the functionality on the vehicle?");
                if( retVal == true ) {
                  document.addEventListener('DOMContentLoaded', function() {
                  const icon = document.getElementById('unlock');
                  // Disable click functionality by removing the "click" event listener
                  icon.style.pointerEvents = 'none';
                  });
                  tracker = document.getElementById("tracker1").value;
                  urls = "/Admin/UnLock/";
                  location.href = urls
                  // mywindow = window.open(urls,"_self","toolbar=yes,scrollbars=yes,resizable=yes,top=200,left=100,width=100px,height=100px");
                }
              }
            else {
              alert("Incorrect password. Access denied.");
            }
          }

          function showLock1(){
            var password = prompt("Enter the password:");

            if (password === "vermeer"){
            var retVal = confirm("This vehicle is currently immobilized for functionality. Do you want to remove immobilization and restore functionality on the vehicle?");
               if( retVal == true ) {
                document.addEventListener('DOMContentLoaded', function() {
                const icon = document.getElementById('lock3');
                // Disable click functionality by removing the "click" event listener
                icon.style.pointerEvents = 'none';
                });

                tracker = document.getElementById("tracker3").value;
                urls = "/Admin/Lock1/";
                location.href = urls
                // mywindow = window.open(urls,"_self","toolbar=yes,scrollbars=yes,resizable=yes,top=200,left=100,width=100px,height=100px");
               }
            }
            else {
              alert("Incorrect password. Access denied.");
            }
          }
             
          function showUnlock1(){
            var password = prompt("Enter the password:");

            if (password === "vermeer"){
            var retVal = confirm("Do you want to immobilize the functionality on the vehicle?");
               if( retVal == true ) {
                document.addEventListener('DOMContentLoaded', function() {
                const icon = document.getElementById('unlock3');
                // Disable click functionality by removing the "click" event listener
                icon.style.pointerEvents = 'none';
                });
                tracker = document.getElementById("tracker3").value;
                urls = "/Admin/UnLock1/";
                location.href = urls
                // mywindow = window.open(urls,"_self","toolbar=yes,scrollbars=yes,resizable=yes,top=200,left=100,width=100px,height=100px"); 
               }
            }
            else {
              alert("Incorrect password. Access denied.");
            }
          }
            
          function showLock2(){
          var password = prompt("Enter the password:");

          if (password === "vermeer"){
            var retVal = confirm("This vehicle is currently immobilized for functionality. Do you want to remove immobilization and restore functionality on the vehicle?");
            if( retVal == true ) {
              document.addEventListener('DOMContentLoaded', function() {
              const icon = document.getElementById('lock2');
              // Disable click functionality by removing the "click" event listener
              icon.style.pointerEvents = 'none';
              });

              tracker = document.getElementById("tracker2").value;
              console.log(tracker)
              urls = "/Admin/Lock2/";
              location.href = urls
              // mywindow = window.open(urls,"_self","toolbar=yes,scrollbars=yes,resizable=yes,top=200,left=100,width=100px,height=100px");
            }
            }
            else {
              alert("Incorrect password. Access denied.");
            }
          }
             
          function showUnlock2(){
          var password = prompt("Enter the password:");

          if (password === "vermeer"){
          var retVal = confirm("Do you want to immobilize the functionality on the vehicle?");
              if( retVal == true ) {
              document.addEventListener('DOMContentLoaded', function() {
              const icon = document.getElementById('unlock2');
              // Disable click functionality by removing the "click" event listener
              icon.style.pointerEvents = 'none';
              });
              tracker = document.getElementById("tracker2").value;
              urls = "/Admin/UnLock2/";
              location.href = urls
              // mywindow = window.open(urls,"_self","toolbar=yes,scrollbars=yes,resizable=yes,top=200,left=100,width=100px,height=100px"); 
              }
          }
          else {
            alert("Incorrect password. Access denied.");
          }
          }
                      
        //   var cust = {{Customer|safe}};
        //   console.log(cust.o_f[3],cust.f_f[3])
        //   const hasOneOrTwo = cust.f_f[3] == 1 || cust.f_f[3] == 2;
        //   console.log(hasOneOrTwo)
        //   const icon = document.getElementById("unlock3");

        //   function test() {
        //     // Add your custom logic for the click event here
        //     alert("Unlocking...");
        // }

        //   if (hasOneOrTwo) {
        //       // Remove the click event listener
        //       console.log(icon);
        //       icon.removeEventListener("click", test);

        //       // Make the element non-clickable
        //       icon.style.pointerEvents = "none";
        //   } else {
        //       // Define the click event handler function
        //       // function showUnlock1() {
        //       //     // Add your custom logic for the click event here
        //       //     alert("Unlocking...");
        //       // }

        //       // Attach the click event listener
        //       icon.addEventListener("click", test);
        //   }
          // console.log(hasOneOrTwo)

          // Reference to your button element (replace 'button' with your actual button selector)
          
          // } else {
              // If 1 or 2 is not present, hide the tooltip and make the icon clickable
              // button.classList.remove("non-clickable");

              // Optionally, add a click event listener for the clickable icon
              // button.addEventListener("click", () => {
                  // Handle the click event for the clickable icon
                  // Your click event handling code here
              // });
          // }
          // const icon = document.getElementById("lock3");
          // const tooltip = document.getElementById("tooltip");
          // var cust = {{Customer|safe}};
          // console.log(cust.f_f[3],0,cust.f_f[3]==0)
          // function hideTooltip() {
          //       tooltip.classList.add("hidden");
          //   }
          // function showTooltip() {
          //     tooltip.classList.remove("hidden");
          //   }

          // const condition = true; // Replace with your actual condition

          // button.addEventListener("mouseover", () => {
          //     if (cust.f_f[3] == 1) || (cust.f_f[3] == 2);{
          //         showTooltip();
          //     }
          // });

          // button.addEventListener("mouseout", () => {
          //     hideTooltip();
          // });
          
            window.setTimeout( function() {
            window.location.reload();
            }, 300000);
            function zzz() {
        // Disable clickable elements
        disableClickableElements();

        // Simulate a delay (replace this with your actual content loading logic)
        setTimeout(function () {
          // Enable clickable elements
          enableClickableElements();

          // Hide the loading overlay
          document.getElementById('loading-overlay').style.display = 'none';
        }, 2000); // Adjust the delay as needed
      }

      function disableClickableElements() {
        // Add logic to disable clickable elements (icons, buttons, etc.)
        var clickableElements = document.querySelectorAll('.clickable');
        clickableElements.forEach(function (element) {
          element.style.pointerEvents = 'none';
        });
      }

      function enableClickableElements() {
        // Add logic to enable clickable elements
        var clickableElements = document.querySelectorAll('.clickable');
        clickableElements.forEach(function (element) {
          element.style.pointerEvents = 'auto';
        });
      }

        </script>

    <!-- <div class="container"> -->
    <br>

    <div class="main" style="background-color: rgb(212, 230, 204);">
      <div class="box" style="background-color: white; border-radius: 10px">
        <div class="col-xl-12">
          <div class="card-body">
            <div class="card-header" id="cardheader" style="padding-left: 4px;">
              <span class="amb-d" style="float: center; color: rgb(199, 3, 3); font-family: 'Times New Roman', Times, serif;">
                <b>List of Gateway Devices</b>
              </span>
            </div>
            <div style="padding-bottom: 10px;"></div>
            <table id="example1" class="table table-hover rounded table-bordered" style="background-color: rgb(253, 253, 251); border-radius: 10px">
              <thead>
                <tr align="center">
                  <th>Vehicle Id</th>
                  <th>Machine Type</th>
                  <th>Last Gateway Status</th>
                  <th data-orderable="false">Last Machine Run Status</th>
                  <th>Last GPS Address</th>
                  <th data-orderable="false">Last one week</th>
                  <th data-orderable="false">Immobilization</th>
                  <th data-orderable="false">Details</th>
                </tr>
              </thead>
              <tbody class="tablebody" align="center">

                <tr>
                  <input type="text" value="{{lu.tracker.0}}" name="tracker" id="tracker1" hidden>
                  <td>{{Customer.veh_id.0}}</td>
                  <td>{{Customer.mac_type.0}}</td>
                  <td id="timeAgoCell">{{Customer.l_com.0}}</td>
                  <td id="timeAgoCell1">{{Customer.l_on.0}}</td>
                  <td>{{lua.loc.0}}</td>
                  <td>{{bar1.plot1|safe}}<label style="color: rgb(105, 105, 105)">Total Usage Hours:{{total.total.0}}</label></td>
                  <td>
                    {% if Customer.bn.0 %}
                    <i class="fa fa-unlock" id="unlock1" onClick="showUnlock()" style="cursor: pointer; color: green; font-size: 30px;" title="Turn Off Ignition"></i>
                    {% else %}
                    <i class="fa fa-lock" id="lock1" onClick="showLock()" style="cursor: pointer; color: red; font-size: 30px;" title="Turn On Ignition"></i>
                    {% endif %}
                  </td>
                  <td>
                    <a href="{% url 'viewdetail' tracker='JIVMOT0001B0001' %}" title="View Details">
                      <img src="{% static 'tracker/dist/img/detail.png' %}" style="cursor: pointer; width: 30px; height: 30px; margin-top: 0px; align-self: left;" alt="Details">
                    </a>
                  </td>
                </tr>
    
                <tr>
                  <input type="text" value="{{lu.tracker.1}}" name="tracker1" id="tracker2" hidden>
                  <td>{{Customer.veh_id.1}}</td>
                  <td>{{Customer.mac_type.1}}</td>
                  <td id="timeAgoCell">{{Customer.l_com.1}}</td>
                  <td id="timeAgoCell1">{{Customer.l_on.1}}</td>
                  <td>{{lua.loc.1}}</td>
                  <td>{{bar2.plot2|safe}}<label style="color: rgb(105, 105, 105);">Total Usage Hours:{{total.total.1}}</label></td>
                  <td>
                    {% if Customer.bn.1 %}
                    <i class="fa fa-unlock" id="unlock2" onClick="showUnlock2()" style="cursor: pointer; color: green; font-size: 30px;" title="Turn Off Ignition"></i>
                    {% else %}
                    <i class="fa fa-lock" id="lock2" onClick="showLock2()" style="cursor: pointer; color: red; font-size: 30px;" title="Turn On Ignition"></i>
                    {% endif %}
                  </td>
                  <td>
                    <a href="{% url 'viewdetail' tracker='JIVMOT0002B0002' %}" title="View Details">
                      <img src="{% static 'tracker/dist/img/detail.png' %}" style="cursor: pointer; width: 30px; height: 30px; margin-top: 0px; align-self: left;" alt="Details">
                    </a>
                  </td>
                </tr>    
  
            </tbody>        
            </table> 
            
            <br>
            
            <div class="row" id="tab2">
              <div class="card" style="width: 100%; background-color: rgba(255, 255, 255);">
                  <div class="card-body" style="background-color: rgba(228, 233, 224, 0.9);border-radius: 10px">
                      <div class="container">
                          <div class="row text-center" id="descp">
                              <div class="col-md-4">
                                  <b>Last Gateway Status</b><br>
                                  <i class="fa fa-circle" style="color:blue"></i> < 10 minutes<br>
                                  <i class="fa fa-circle" style="font-size:15px;color:red"></i> > 10 minutes
                              </div>
                              <div class="col-md-4">
                                  <b>Last Machine Run Status</b><br>
                                  <i class="fa fa-circle" style="font-size:15px;color:blue"></i> < 1 day<br>
                                  <i class="fa fa-circle" style="font-size:15px;color:red"></i> > 1 day
                              </div>
                              <div class="col-md-4">
                                  <b>Last One Week</b><br>
                                  <i class="fa fa-circle" style="font-size:15px;color:blue"></i> < 8 hours<br>
                                  <i class="fa fa-circle" style="font-size:15px;color:red"></i> > 8 hours
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          
        </div>
        <!-- </div> -->
        </div>           
    
    </div><br>

           
          </div>
    </div>
    </div>
    </div>
    <!-- </div> -->

<script> 
  var cust = {{Customer|safe}};
  const c_l = cust.o_f[0] == 1 || cust.o_f[0] == 2;

  if (c_l){
    document.addEventListener('DOMContentLoaded', function() {
    const l = document.getElementById('lock1');
    // Disable click functionality by removing the "click" event listener
    l.style.color = "grey";
    l.title = "In Process"
    l.style.pointerEvents = 'none';
  });
  }

  const c_un = cust.f_f[0] == 1 || cust.f_f[0] == 2;

  if (c_un){
    document.addEventListener('DOMContentLoaded', function() {
    const un = document.getElementById('unlock1');
    // Disable click functionality by removing the "click" event listener
    un.style.color = "grey";
    un.title = "In Process"
    un.style.pointerEvents = 'none';
  });
  }

  const c_l1 = cust.o_f[1] == 1 || cust.o_f[1] == 2;

  if (c_l1){
    document.addEventListener('DOMContentLoaded', function() {
    const l1 = document.getElementById('lock2');
    // Disable click functionality by removing the "click" event listener
    l1.style.color = "grey";
    l1.title = "In Process"
    l1.style.pointerEvents = 'none';
  });
  }

  const c_un1 = cust.f_f[1] == 1 || cust.f_f[1] == 2;

  if (c_un1){
    document.addEventListener('DOMContentLoaded', function() {
    const un1 = document.getElementById('unlock2');
    // Disable click functionality by removing the "click" event listener
    un1.style.color = "grey";
    un1.title = "In Process"
    un1.style.pointerEvents = 'none';
  });
  }

  const c_l3 = cust.o_f[2] == 1 || cust.o_f[2] == 2;
  console.log(c_l3)
  if (c_l3){
    document.addEventListener('DOMContentLoaded', function() {
    const l3 = document.getElementById('lock3');
    // Disable click functionality by removing the "click" event listener
    l3.style.color = "grey";
    l3.title = "In Process";
    l3.style.pointerEvents = 'none';
  });
  }

  const c_un3 = cust.f_f[2] == 1 || cust.f_f[2] == 2;

  if (c_un3){
    document.addEventListener('DOMContentLoaded', function() {
    const un3 = document.getElementById('unlock3');
    // Disable click functionality by removing the "click" event listener
    un3.style.color = "grey";
    un3.title = "In Process";
    un3.style.pointerEvents = 'none';
  });
  }

  document.addEventListener('DOMContentLoaded',function(updatecsTextColor) {
      var cells = document.querySelectorAll('#timeAgoCell');

      cells.forEach(function(cell) {
        var text = cell.textContent.trim()
        var parts = text.split(' ');
        var value = parseInt(parts[0]);
        var unit = parts[1];
        if (text === 'just now' || unit === 'seconds' || unit === 'minute') {
          cell.classList.add('blue-text');
        } else {          
          if (unit === 'minutes' && !isNaN(value) && value <= 10) {
            cell.classList.add('blue-text');
          } else {
            cell.classList.add('red-text');
          }
        }
      });
    })

    document.addEventListener('DOMContentLoaded',function(updatemsTextColor) {
      var cells = document.querySelectorAll('#timeAgoCell1');

      cells.forEach(function(cell) {      
        var text = cell.textContent.trim();
        var parts = text.split(' ');
        var value = parseInt(parts[0]);
        var unit = parts[1];
        if (text === 'just now' || unit === 'seconds' || unit === 'minute' || unit === 'minutes' || unit === 'hour' || unit === 'hours') {
          cell.classList.add('blue-text');
        } 
        else if(text === 'Running'){
          cell.classList.add('green-text')
        }
        else {
          // Check the time unit and set the text color class accordingly
          if (unit === 'day' && !isNaN(value) && value <= 1) {
            cell.classList.add('blue-text');
          } else {
            cell.classList.add('red-text');
          }
        }
      });
    });
    
function OpenMap() {
      urls = "{% url 'live_map' %}"
      mywindow = window.open(urls, "_blank", "toolbar=yes,scrollbar=yes,resizable=yes,top=100,left=100,width=1000px,height=600px");
    } 

function OpenChart() {
      urls = "{% url 'pie_chart' %}"
      mywindow = window.open(urls, "_blank", "toolbar=yes,scrollbar=yes,resizable=yes,top=100,left=100,width=1000px,height=600px");
    }

  function refreshPage() {
      window.location.reload();
    }

  

</script>

<!-- DataTables -->
<script src="{% static 'tracker/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'tracker/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'tracker/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'tracker/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>

</body>
</html>
{% include 'tracker/footer.html' %}