{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machinery Status</title>

    <link rel="stylesheet" href="{% static 'tracker/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
   <link rel="stylesheet" href="{% static 'tracker/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <!-- <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script> -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-ARXekHgIlEP5GFkWpUq2W3JWtP4V1ooGFC41HbmPTyDhvtcxEpmtdihHZt9eRM60p6S4USkE2iwbVIRsMZjvw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
       <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"> -->

 
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="{% static 'tracker/plugins/fontawesome-free/css/all.min.css' %}">
  <!-- IonIcons -->
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'tracker/dist/css/adminlte.min.css' %}">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  
  <!-- jQuery -->
  <script src="{% static 'tracker/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'tracker/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- AdminLTE -->
<script src="{% static 'tracker/dist/js/adminlte.js' %}"></script>

<!-- AdminLTE for demo purposes -->
<script src="{% static 'tracker/dist/js/demo.js' %}"></script>
 <!-- REQUIRED SCRIPTS -->
 <script src="{% static 'tracker/ckeditor/ckeditor.js' %}"></script>
<!-- 
 <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script> -->
<!-- Load the Google Charts library -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <script>
    $(function () {
      setTimeout(function() {
        window.location.href = "/Admin/login_auth/?next=/Admin/";
    }, 15*60*1000);
  
      $("#example1").DataTable({	

        "responsive": true,
        "autoWidth": false,
        "pageLength" : 10
      });
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    });

    function refreshPage() {
        window.location.reload();
    }
    
    
  </script>

  <style>
  html,body{
    width: 100%;
  height: 100%;
  min-height: 100%;
  }

  #item img {
    max-width: 100%;
    }

  p {
    color : white;
    text-align: center;
    background-color: rgb(68, 101, 63);
    font-style:normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-variant: small-caps;
    }

    #top, #bottom, #left, #right {
	background: #a5ebff;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

    * {
  box-sizing: border-box;
    }

    html, body, .flip, .card, .front, .back , .card{
    height:100%;
    /* background: rgba(166, 226, 198, 0.05) */
  }
  /* body{
    background-color: rgba(218, 223, 214, 0.8);
  } */

  body{
    background-color: rgb(212, 230, 204);
    font-family:'Times New Roman', Times, serif;
  }
    /* background: url(/static/tracker/dist/img/test1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: rgba(0, 0, 0, 0.452);
  } */

    li {
    display: table-cell!important;
    }

    .main{
        padding: 20px 40px 70px 40px;
        
    }

  .box{
    padding:20px;
    /* border-radius:20px; */
    border : .2px solid rgba(15, 121, 72, 0.082);
    background-color: rgba(15, 121, 72, 0.082);
    /* color:#fff; */
    display:flex;
    align-items:center;
    justify-content:center;
    /* font-size:40px; */
    font-family:'Times New Roman', Times, serif;
  }

  .box1{
    padding:40px;
    /* border-radius:20px; */
    border : .2px solid rgba(15, 121, 72, 0.1);
    background-color: rgba(15, 121, 72, 0.1);
    /* color:#fff; */
    /* display:flex; */
    align-items:center;
    justify-content:center;
    /* font-size:40px; */
    font-family:'Times New Roman', Times, serif;
  }

  .box2{
    padding:20px;
    /* border-radius:20px; */
    /* border : 3px solid rgba(139, 141, 8, 0.671); */
    /* background-color: rgb(8,141,91,.2); */
    /* color:#fff; */
    /* display:flex; */
    align-items:center;
    justify-content:center;
    /* font-size:40px; */
     font-family:'Times New Roman', Times, serif; */
  }

  body{
    color: rgb(32, 56, 27) !important;
  }


.sidebar-menu {
    list-style-type: none;
    padding: 0;
    align-items:first baseline;
    box-sizing: content-box;

}

.tab-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .grid-container {
    display: grid;
    border: 1px solid rgb(8,141,91);
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    }

    table th{
        font-size: 18px;
    }

    table tr{
        font-size: 16px;
    }

  @media screen and (max-width: 600px) {
  /* body{
    font-size: 10px !important;
    } */
   .main{
    padding: 20px 15px 0px 15px;
   }
   .box{
    padding: 10px;
    background-color: white;
   }
   table th{
        font-size: 8px;
    }

    table tr{
        font-size: 8px;
    }


}

/* #tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 2px 4px;
    border-radius: 5px;
    display: inline-block;
}

.hidden {
    display: none;
} */

  /* fontawesome icon 5x */
  .red-text {
        color: red;
    }
    .green-text {
        color: green;
    }
  .blue-text {
    color: blue;
  }
  .orange-text{
    color: orange;
  }
  .sidemenu {
  position: relative;
  /* Set a specific width for the container, if needed */
}


#refresh-button {
  position: absolute;
  right: 0;
  /* You can adjust top, bottom, left, and right values to control the icon's position */
}
#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
    font-size: 24px; 
  }

  #loading-overlay img {
    width: 200px; /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
  }

  .tab-container {
    width: 60px; /* Set the width of the sidebar according to your design */
    background-color: #f5f5f5; /* Set the background color */
    height: 100%; /* Make the sidebar take the full height of its parent container */
    position: fixed; /* Fix the position of the sidebar */
    display: flex; /* Use flexbox to arrange items vertically */
    flex-direction: column; /* Arrange items vertically */
  }

  .sidebar-menu {
    list-style-type: none; /* Remove bullet points from the list */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
  }

  .breadcrumb-item {
    padding: 10px; /* Adjust the padding as needed */
    text-align: center; /* Center the text */
    border-bottom: none; /* Add a border between items */
  }

  .breadcrumb-item:hover {
    background-color: rgb(182, 241, 182); /* Change background color on hover */
  }

  .fas {
    font-size: 20px; /* Adjust the icon size */
  }

  @media(max-width:768px){
    .amb-h{
      font-size: large;
    }
    .amb-d{
      font-size: medium;
    }
    p{
      font-size: x-large;
    }
    
    .p-but{
      font-size:x-small;
    }
  }

  @media(max-width:576px){
    .amb-h{
      font-size: small;
    }
    .amb-d{
      font-size: small;
    }
    p{
      font-size: larger;
    }
    .p-but{
      font-size:xx-small;
    }

  
  }

</style>

</head>

<body style="font-family: 'Times New Roman', Times, serif;" onload="zzz()">

  <script>
    $(document).ready(function() {  
    
    for (var i = 1; i < "{{Customer.len}}"; i++) {
        var newRow = $("<tr>");

        // Add input field (hidden) to the new row
        newRow.append($("<input>").attr("type", "text").attr("value", "{{Customer.v_id.i}}").attr("name", "tracker").attr("id", "tracker" + (i+1)).attr("hidden", true));
          
        // Add data cells (td) to the new row
        newRow.append($("<td>").text("{{Customer.veh_id.i}}"));
        newRow.append($("<td>").text("{{Customer.mac_type.i}}"));
        newRow.append($("<td>").attr("id", "timeAgoCell" + (i+1)).text("{{Customer.l_com.i}}"));
        newRow.append($("<td>").attr("id", "timeAgoCell1" + (i+1)).text("{{Customer.l_on.i}}"));
        newRow.append($("<td>").text("{{lua.loc.i}}"));
        newRow.append($("<td>").html("{{bar.plot.i}}" + "<label style='color: rgb(105, 105, 105)'>Total Usage Hours:" + "{{total.total.i}}" + "</label>"));

        // Add lock/unlock icon cell
        var iconCell = $("<td>");
        if ("{{Customer.bn.i}}") {
            iconCell.append($("<i>").addClass("fa fa-unlock").attr("id", "unlock" + (i)).attr("onClick", "showUnlock()").css({"cursor": "pointer", "color": "green", "font-size": "30px"}).attr("title", "Turn Off Ignition"));
        } else {
            iconCell.append($("<i>").addClass("fa fa-lock").attr("id", "lock" + (i)).attr("onClick", "showLock()").css({"cursor": "pointer", "color": "red", "font-size": "30px"}).attr("title", "Turn On Ignition"));
        }
        newRow.append(iconCell);

        var url = "{% url 'viewdetail' tracker='placeholder' %}".replace('placeholder', "{Customer.v_id.i}");

        // Add details link cell
        newRow.append($("<td>").append($("<a>").attr("href", url).attr("title", "View Details").append($("<img>").attr("src", "{% static 'tracker/dist/img/detail.png' %}").css({"cursor": "pointer", "width": "30px", "height": "30px", "margin-top": "0px", "align-self": "left"}).attr("alt", "Details"))));

        // Append the new row to the table
        $("#table-data").append(newRow);
    }
  });
  </script>

  <div id="loading-overlay">
  <img src="{% static 'tracker/dist/img/loaderdark.gif' %}" alt="Loading...">
  </div>
            <!-- Content Header (Page header) -->
	   <div class="content-header">  
           
      <p class="amb-h">
         <img src="{% static 'tracker/dist/img/Vermeer.png' %}" height="46" width="55" alt="Logo">Heavy Machinery Tracking System
      </p>
      
      <!-- <a href="#" onclick="refreshPage()" style="color:black; cursor: pointer; position: absolute; left: 15px;" data-toggle="tooltip" data-placement="top" title="Refresh">
        <i class="fas fa-sync" style="margin-right: 10px;"></i>
      </a>
      <a href="{% url 'logout' %}" style="color:black; cursor: pointer; position: absolute; right: 15px;">
        <i class="fas fa-sign-out-alt" style="margin-right: 10px;" data-toggle="tooltip" data-placement="top" title="LogOut"></i>
      </a>
      </div> -->

      <div class="container-fluid">
        <div class="row bg-light" style="border-radius: 10px">
          <div class="col-md-6 col-12" style="margin-top: 6px">
            <ol class="breadcrumb" style="border-bottom: none">
              <li class="breadcrumb-item active" style="color: black; font-size: medium;">Home</li>
            </ol>
          </div>
          <div class="col-md-6 col-12 text-md-right text-center" style="margin-top: 8px">
            <ul class="list-unstyled d-flex justify-content-md-end justify-content-between mt-2">
              <li class="mx-2">
                <i class="fas fa-sync" onclick="refreshPage()" style="color: #075b40; cursor: pointer;" data-toggle="tooltip" data-placement="top" title="Refresh"></i>
              </li>
              <li class="mx-2">
                <i class="fas fa-map-marker-alt" onclick="OpenMap()" style="color: #075b40; cursor: pointer;" data-toggle="tooltip" data-placement="top" title="Location"></i>
              </li>
              <li class="mx-2">
                <i class="fas fa-chart-pie" onclick="OpenChart()" style="color: #075b40; cursor: pointer;" data-toggle="tooltip" data-placement="top" title="Pie Chart"></i>
              </li>
              <li class="mx-2">
                <a href="{% url 'logout' %}">
                  <i class="fas fa-sign-out-alt" style="color: #075b40; cursor: pointer;" data-toggle="tooltip" data-placement="top" title="LogOut"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
          
   
  

        <script>         
            function showLock(){
              var password = prompt("Enter the password:");

              if (password === "vermeer"){
                var retVal = confirm("This vehicle is currently immobilized for functionality. Do you want to remove immobilization and restore functionality on the vehicle?");
                  if( retVal == true ) {
                    document.addEventListener('DOMContentLoaded', function() {
                    const icon = document.getElementById('lock');
                    // Disable click functionality by removing the "click" event listener
                    icon.style.pointerEvents = 'none';
                    });
                    tracker = document.getElementById("tracker1").value;
                    // alert(tracker)
                    urls = "/Admin/Lock/";
                    location.href = urls

                    // mywindow = window.open(urls,"_self","toolbar=yes,scrollbars=yes,resizable=yes,top=200,left=100,width=100px,height=100px");
                  }
                }
              else {
                alert("Incorrect password. Access denied.");
            }
          }
     
          function showUnlock(){
            var password = prompt("Enter the password:");

            if (password === "vermeer"){
              var retVal = confirm("Do you want to immobilize the functionality on the vehicle?");
                if( retVal == true ) {
                  document.addEventListener('DOMContentLoaded', function() {
                  const icon = document.getElementById('unlock');
                  // Disable click functionality by removing the "click" event listener
                  icon.style.pointerEvents = 'none';
                  });
                  tracker = document.getElementById("tracker1").value;
                  urls = "/Admin/UnLock/";
                  location.href = urls
                  // mywindow = window.open(urls,"_self","toolbar=yes,scrollbars=yes,resizable=yes,top=200,left=100,width=100px,height=100px");
                }
              }
            else {
              alert("Incorrect password. Access denied.");
            }
          }

          function showLock1(){
            var password = prompt("Enter the password:");

            if (password === "vermeer"){
            var retVal = confirm("This vehicle is currently immobilized for functionality. Do you want to remove immobilization and restore functionality on the vehicle?");
               if( retVal == true ) {
                document.addEventListener('DOMContentLoaded', function() {
                const icon = document.getElementById('lock3');
                // Disable click functionality by removing the "click" event listener
                icon.style.pointerEvents = 'none';
                });

                tracker = document.getElementById("tracker3").value;
                urls = "/Admin/Lock1/";
                location.href = urls
                // mywindow = window.open(urls,"_self","toolbar=yes,scrollbars=yes,resizable=yes,top=200,left=100,width=100px,height=100px");
               }
            }
            else {
              alert("Incorrect password. Access denied.");
            }
          }
             
          function showUnlock1(){
            var password = prompt("Enter the password:");

            if (password === "vermeer"){
            var retVal = confirm("Do you want to immobilize the functionality on the vehicle?");
               if( retVal == true ) {
                document.addEventListener('DOMContentLoaded', function() {
                const icon = document.getElementById('unlock3');
                // Disable click functionality by removing the "click" event listener
                icon.style.pointerEvents = 'none';
                });
                tracker = document.getElementById("tracker3").value;
                urls = "/Admin/UnLock1/";
                location.href = urls
                // mywindow = window.open(urls,"_self","toolbar=yes,scrollbars=yes,resizable=yes,top=200,left=100,width=100px,height=100px"); 
               }
            }
            else {
              alert("Incorrect password. Access denied.");
            }
          }
            
          function showLock2(){
          var password = prompt("Enter the password:");

          if (password === "vermeer"){
            var retVal = confirm("This vehicle is currently immobilized for functionality. Do you want to remove immobilization and restore functionality on the vehicle?");
            if( retVal == true ) {
              document.addEventListener('DOMContentLoaded', function() {
              const icon = document.getElementById('lock2');
              // Disable click functionality by removing the "click" event listener
              icon.style.pointerEvents = 'none';
              });

              tracker = document.getElementById("tracker2").value;
              urls = "/Admin/Lock2/";
              location.href = urls
              // mywindow = window.open(urls,"_self","toolbar=yes,scrollbars=yes,resizable=yes,top=200,left=100,width=100px,height=100px");
            }
            }
            else {
              alert("Incorrect password. Access denied.");
            }
          }
             
          function showUnlock2(){
          var password = prompt("Enter the password:");

          if (password === "vermeer"){
          var retVal = confirm("Do you want to immobilize the functionality on the vehicle?");
              if( retVal == true ) {
              document.addEventListener('DOMContentLoaded', function() {
              const icon = document.getElementById('unlock2');
              // Disable click functionality by removing the "click" event listener
              icon.style.pointerEvents = 'none';
              });
              tracker = document.getElementById("tracker2").value;
              urls = "/Admin/UnLock2/";
              location.href = urls
              // mywindow = window.open(urls,"_self","toolbar=yes,scrollbars=yes,resizable=yes,top=200,left=100,width=100px,height=100px"); 
              }
          }
          else {
            alert("Incorrect password. Access denied.");
          }
          }

            
            
        //   var cust = {{Customer|safe}};
        //   console.log(cust.o_f[3],cust.f_f[3])
        //   const hasOneOrTwo = cust.f_f[3] == 1 || cust.f_f[3] == 2;
        //   console.log(hasOneOrTwo)
        //   const icon = document.getElementById("unlock3");

        //   function test() {
        //     // Add your custom logic for the click event here
        //     alert("Unlocking...");
        // }

        //   if (hasOneOrTwo) {
        //       // Remove the click event listener
        //       console.log(icon);
        //       icon.removeEventListener("click", test);

        //       // Make the element non-clickable
        //       icon.style.pointerEvents = "none";
        //   } else {
        //       // Define the click event handler function
        //       // function showUnlock1() {
        //       //     // Add your custom logic for the click event here
        //       //     alert("Unlocking...");
        //       // }

        //       // Attach the click event listener
        //       icon.addEventListener("click", test);
        //   }
          // console.log(hasOneOrTwo)

          // Reference to your button element (replace 'button' with your actual button selector)
          
          // } else {
              // If 1 or 2 is not present, hide the tooltip and make the icon clickable
              // button.classList.remove("non-clickable");

              // Optionally, add a click event listener for the clickable icon
              // button.addEventListener("click", () => {
                  // Handle the click event for the clickable icon
                  // Your click event handling code here
              // });
          // }
          // const icon = document.getElementById("lock3");
          // const tooltip = document.getElementById("tooltip");
          // var cust = {{Customer|safe}};
          // console.log(cust.f_f[3],0,cust.f_f[3]==0)
          // function hideTooltip() {
          //       tooltip.classList.add("hidden");
          //   }
          // function showTooltip() {
          //     tooltip.classList.remove("hidden");
          //   }

          // const condition = true; // Replace with your actual condition

          // button.addEventListener("mouseover", () => {
          //     if (cust.f_f[3] == 1) || (cust.f_f[3] == 2);{
          //         showTooltip();
          //     }
          // });

          // button.addEventListener("mouseout", () => {
          //     hideTooltip();
          // });
          
            window.setTimeout( function() {
            window.location.reload();
            }, 300000);
            function zzz() {
        // Disable clickable elements
        disableClickableElements();

        // Simulate a delay (replace this with your actual content loading logic)
        setTimeout(function () {
          // Enable clickable elements
          enableClickableElements();

          // Hide the loading overlay
          document.getElementById('loading-overlay').style.display = 'none';
        }, 2000); // Adjust the delay as needed
      }

      function disableClickableElements() {
        // Add logic to disable clickable elements (icons, buttons, etc.)
        var clickableElements = document.querySelectorAll('.clickable');
        clickableElements.forEach(function (element) {
          element.style.pointerEvents = 'none';
        });
      }

      function enableClickableElements() {
        // Add logic to enable clickable elements
        var clickableElements = document.querySelectorAll('.clickable');
        clickableElements.forEach(function (element) {
          element.style.pointerEvents = 'auto';
        });
      }

        </script>

    <!-- <div class="container"> -->
    <br>

    <div class="main" style="background-color: rgb(212, 230, 204);">
      <div class="box" style="background-color: white; border-radius: 10px">
        <div class="col-xl-12">
          <div class="card-body">
            <div class="card-header" id="cardheader" style="padding-left: 4px;">
              <span style="float: center; font-size: 20px; color: rgb(199, 3, 3); font-family: 'Times New Roman', Times, serif;">
                <b>List of Gateway Devices</b>
              </span>
            </div>
            <div style="padding-bottom: 10px;"></div>
            <table id="example1" class="table table-hover rounded table-bordered" style="background-color: rgb(253, 253, 251); border-radius: 10px">
              <thead>
                <tr align="center">
                  <th>Vehicle Id</th>
                  <th>Machine Type</th>
                  <th>Last Gateway Status</th>
                  <th data-orderable="false">Last Machine Run Status</th>
                  <th>Last GPS Address</th>
                  <th data-orderable="false">Last one week</th>
                  <th data-orderable="false">Immobilization</th>
                  <th data-orderable="false">Details</th>
                </tr>
              </thead>
              <tbody align="center" id="table-data">
              </tbody>        
            </table> 
            

            <br>
            <div class="row" id="tab2">
                <!-- <div class="card" style="width: 100%; background-color: rgba(255, 255, 255);"> -->
                <div class="card-body" style="background-color: rgba(228, 233, 224, 0.9);border-radius: 10px">
                    <table>
                      <tbody>
                        <tr>
                          <td style="padding-right: 5px; padding-left:5px; padding-top: 1px; padding-bottom: 2px; border: hidden; font-size:15px;"><b>Last Gateway Status&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></td>
                          <td style="padding-right: 5px; padding-left:5px; padding-top: 1px; padding-bottom: 2px; border: hidden; font-size:15px;"><i class="fa fa-circle" style="font-size:15px;color:blue"></i>&nbsp;&nbsp;<&nbsp;&nbsp;10 minutes</td>
                          <td style="padding-right: 5px; padding-left:5px; padding-top: 1px; padding-bottom: 2px; border: hidden; font-size:15px;"><i class="fa fa-circle" style="font-size:15px;color:red"></i>&nbsp;&nbsp;>&nbsp;&nbsp;10 minutes</td>
                            
                        </tr>
                        <tr>
                          <td colspan="3" style="padding-top: 8px;"></td>
                        </tr>

                        <tr>
                          <td style="padding-right: 5px; padding-left:5px; padding-top: 1px; padding-bottom: 2px; border: hidden; font-size:15px;"><b>Last Machine Run Status</b></td>
                          <td style="padding-right: 5px; padding-left:5px; padding-top: 1px; padding-bottom: 2px; border: hidden; font-size:15px;"><i class="fa fa-circle" style="font-size:15px;color:blue"></i>&nbsp;&nbsp;<&nbsp;&nbsp;1 day</td>
                          <td style="padding-right: 5px; padding-left:5px; padding-top: 1px; padding-bottom: 2px; border: hidden; font-size:15px;"><i class="fa fa-circle" style="font-size:15px;color:red"></i>&nbsp;&nbsp;>&nbsp;&nbsp;1 day</td>
                            
                        </tr>

                        <tr>
                          <td colspan="3" style="padding-top: 8px;"></td>
                        </tr>
                        
                        <tr>
                          <td style="padding-right: 5px; padding-left:5px; padding-top: 1px; padding-bottom: 2px; border: hidden; font-size:15px;"><b>Last One Week&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></td>
                          <td style="padding-right: 5px; padding-left:5px; padding-top: 1px; padding-bottom: 2px; border: hidden; font-size:15px;"><i class="fa fa-circle" style="font-size:15px;color:blue"></i>&nbsp;&nbsp;<&nbsp;&nbsp;8 hours</td>
                          <td style="padding-right: 5px; padding-left:5px; padding-top: 1px; padding-bottom: 2px; border: hidden; font-size:15px;"><i class="fa fa-circle" style="font-size:15px;color:red"></i>&nbsp;&nbsp;>&nbsp;&nbsp;8 hours</td>
                                   
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- </div> -->
        </div>           
    
    </div><br>

           
          </div>
    </div>
    </div>
    </div>
    <!-- </div> -->

<script>
 
  var cust = {{Customer|safe}};
  const c_l = cust.o_f[0] == 1 || cust.o_f[0] == 2;

  if (c_l){
    document.addEventListener('DOMContentLoaded', function() {
    const l = document.getElementById('lock1');
    // Disable click functionality by removing the "click" event listener
    l.style.color = "grey";
    l.title = "In Process"
    l.style.pointerEvents = 'none';
  });
  }

  const c_un = cust.f_f[0] == 1 || cust.f_f[0] == 2;

  if (c_un){
    document.addEventListener('DOMContentLoaded', function() {
    const un = document.getElementById('unlock1');
    // Disable click functionality by removing the "click" event listener
    un.style.color = "grey";
    un.title = "In Process"
    un.style.pointerEvents = 'none';
  });
  }

  const c_l1 = cust.o_f[1] == 1 || cust.o_f[1] == 2;

  if (c_l1){
    document.addEventListener('DOMContentLoaded', function() {
    const l1 = document.getElementById('lock2');
    // Disable click functionality by removing the "click" event listener
    l1.style.color = "grey";
    l1.title = "In Process"
    l1.style.pointerEvents = 'none';
  });
  }

  const c_un1 = cust.f_f[1] == 1 || cust.f_f[1] == 2;

  if (c_un1){
    document.addEventListener('DOMContentLoaded', function() {
    const un1 = document.getElementById('unlock2');
    // Disable click functionality by removing the "click" event listener
    un1.style.color = "grey";
    un1.title = "In Process"
    un1.style.pointerEvents = 'none';
  });
  }

  const c_l3 = cust.o_f[2] == 1 || cust.o_f[2] == 2;
  console.log(c_l3)
  if (c_l3){
    document.addEventListener('DOMContentLoaded', function() {
    const l3 = document.getElementById('lock3');
    // Disable click functionality by removing the "click" event listener
    l3.style.color = "grey";
    l3.title = "In Process";
    l3.style.pointerEvents = 'none';
  });
  }

  const c_un3 = cust.f_f[2] == 1 || cust.f_f[2] == 2;

  if (c_un3){
    document.addEventListener('DOMContentLoaded', function() {
    const un3 = document.getElementById('unlock3');
    // Disable click functionality by removing the "click" event listener
    un3.style.color = "grey";
    un3.title = "In Process";
    un3.style.pointerEvents = 'none';
  });
  }

  function updatecsTextColor() {
      var cells = document.querySelectorAll('#timeAgoCell');

      cells.forEach(function(cell) {
        // Extract the text content and parse it to get the time unit and value
        var text = cell.textContent.trim(); // Remove leading/trailing spaces
        var parts = text.split(' '); // Split the text by spaces
        var value = parseInt(parts[0]); // Parse the numeric value
        var unit = parts[1]; // Get the time unit (e.g., "minutes", "hours", "days", etc.)
        if (text === 'just now' || unit === 'seconds' || unit === 'minute') {
          cell.classList.add('blue-text');
        } else {
          // Check the time unit and set the text color class accordingly
          if (unit === 'minutes' && !isNaN(value) && value <= 10) {
            cell.classList.add('blue-text');
          } else {
            cell.classList.add('red-text');
          }
        }
      });
    }

    // Call the function to update cell text color when the DOM is ready
    document.addEventListener('DOMContentLoaded', updatecsTextColor);

    function updatemsTextColor() {
      var cells = document.querySelectorAll('#timeAgoCell1');

      cells.forEach(function(cell) {
        // Extract the text content and parse it to get the time unit and value
        var text = cell.textContent.trim(); // Remove leading/trailing spaces
        var parts = text.split(' '); // Split the text by spaces
        var value = parseInt(parts[0]); // Parse the numeric value
        var unit = parts[1]; // Get the time unit (e.g., "minutes", "hours", "days", etc.)
        if (text === 'just now' || unit === 'seconds' || unit === 'minute' || unit === 'minutes' || unit === 'hour' || unit === 'hours') {
          cell.classList.add('blue-text');
        } 
        else if(text === 'Running'){
          cell.classList.add('green-text')
        }
        else {
          // Check the time unit and set the text color class accordingly
          if (unit === 'day' && !isNaN(value) && value <= 1) {
            cell.classList.add('blue-text');
          } else {
            cell.classList.add('red-text');
          }
        }
      });
    }
    document.addEventListener('DOMContentLoaded', updatemsTextColor);

    // Call the function to update cell text color when the DOM is ready
function OpenMap() {
      urls = "{% url 'live_map' %}"
      mywindow = window.open(urls, "_blank", "toolbar=yes,scrollbar=yes,resizable=yes,top=100,left=100,width=1000px,height=600px");
    } 

function OpenChart() {
      urls = "{% url 'pie_chart' %}"
      mywindow = window.open(urls, "_blank", "toolbar=yes,scrollbar=yes,resizable=yes,top=100,left=100,width=1000px,height=600px");
    }

function refreshPage() {
      window.location.reload();
    }
  
</script>

<!-- DataTables -->
<script src="{% static 'tracker/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'tracker/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'tracker/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'tracker/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>

</body>
</html>
{% include 'tracker/footer.html' %}