{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehice Status</title>
   <!-- DataTables
   <link rel="stylesheet" href="{% static 'tracker/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
   <link rel="stylesheet" href="{% static 'tracker/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}"> -->
<!-- 
   <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
   <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
   
      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
  -->
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="{% static 'tracker/plugins/fontawesome-free/css/all.min.css' %}">
  
<!-- Load the Google Charts library -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <!-- IonIcons -->
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'tracker/dist/css/adminlte.min.css' %}">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <!-- jQuery -->
  <script src="{% static 'tracker/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'tracker/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<!-- AdminLTE -->
<script src="{% static 'tracker/dist/js/adminlte.js' %}"></script>
<!------CanvasJS for Chart-------------->
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<!-- ChartJS -->
<script src="{% static 'tracker/plugins/chart.js/Chart.min.js' %}"></script>
<!-- OPTIONAL SCRIPTS -->
<script src="{% static 'tracker/plugins/chart.js/Chart.min.js' %}"></script>&nbsp;
<script src="{% static 'tracker/dist/js/demo.js' %}"></script>
<script src="{% static 'tracker/dist/js/pages/dashboard3.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'tracker/dist/js/demo.js' %}"></script>
 <!-- REQUIRED SCRIPTS -->
 <script src="{% static 'tracker/ckeditor/ckeditor.js' %}"></script>

 <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <script>
  
    $(function () {
    $('input[name="datetimes"]').daterangepicker({
    showDropdowns: false,
    timePicker: false,
    timePicker24Hour: true,
    startDate: moment().subtract(7, 'days'),
    endDate: moment(),
    showTimezone: true,
    locale: {
    format: 'Y MMM DD'
    }
    }
    );
  }
    )

    function redirectToPage(selectedValue) {
        if (selectedValue) {
            window.location.href = selectedValue;
        }
      }

    function refreshPage() {
      window.location.reload();
    }
       
    </script>

  <style>

  html,body{
    width: 100%;
    height: 100%;
    min-height: 100%;
  }

  #item img {
    max-width: 100%;
    }

  p {
    color : white;
    text-align: center;
    background-color: rgb(68, 101, 63);
    font-style:normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-variant: small-caps;
    }

    #refresh-button {
  position: absolute;
  right:10px;
  
  
}

    #top, #bottom, #left, #right {
	background: #a5ebff;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

    * {
  box-sizing: border-box;
    }

    html, body, .flip, .card, .front, .back , .card{
    height:100%;
    /* background: rgba(166, 226, 198, 0.05) */
  }

  body{
    background-color: rgb(212, 230, 204);
    /* background: url(/static/tracker/dist/img/test1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: rgba(0, 0, 0, 0.452); */
  }

    li {
    display: table-cell!important;
    }

    .main{
        padding: 0px 40px 70px 40px;
    }

  .box{
    padding:40px;
    /* border-radius:20px; */
    border : .2px solid rgb(15, 121, 72, 0.082);
    background-color: rgb(15, 121, 72, 0.082);
    /* color:#fff; */
    display:flex;
    align-items:center;
    justify-content:center;
    /* font-size:40px; */
    /* font-family:sans-serif; */
  }

  .box1{
    padding:40px 440px 20px 440px;
    /* border-radius:20px; */
    border : .2px solid rgb(15, 121, 72, 0.082);
    background-color: rgb(15, 121, 72, 0.082);
    /* color:#fff; */
    /* display:flex; */
    align-items:center;
    justify-content:center;
    /* font-size:40px; */
    /* font-family:sans-serif; */
  }

  body{
    color: rgb(32, 56, 27) !important;
    
  }

  .grid-container {
    display: grid;
    border: 1px solid rgb(8,141,91);
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    }

    table th{
        font-size: 18px;
    }

    table tr{
        font-size: 16px;
    }

    .breadcrumb-item+.breadcrumb-item::before {
      color: black;
    }

    .select-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.red-text {
        color: red;
    }
  .blue-text {
    color: blue;
  }
  .orange-text{
    color: orange
  }

  .green-text{
    color: green;
  }
  
    @media screen and (max-width: 1800px) {
      .box1{
        padding: 0px 100px 70px 100px;
      }
    }
  @media screen and (max-width: 600px) {
  /* body{
    font-size: 10px !important;
    } */
    .stat{
      font-size: small !important;
    }

   .main{
    padding: 0px 15px 70px 15px;
   }
   .box{
    padding: 10px;
   }
   table th{
        font-size: 8px;
    }

    table tr{
        font-size: 8px;
    }
    .box1{
    padding:40px;
    }
  }

  .select-container select {
  font-family: 'Your Desired Font Family', sans-serif; 
  font-size: 14px; 
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
    font-size: 24px; 
  }

  #loading-overlay img {
    width: 200px; /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
  }

  #descp{
    font-size: medium;
  }

  .amb-h{
    font-size: xx-large;
  }

  .amb-d{
    font-size: medium;
  }

  @media(max-width:768px){
    .amb-h{
      font-size: larger;
    }

    .amb-d{
      font-size: small;
    }

    #descp{
      font-size: small;
    }
  }

  @media(max-width:576px){
    .amb-h{
      font-size: medium;
    }

    .amb-d{
      font-size: smaller;
    }

    #descp{
      font-size: x-small;
    }
  }

</style>

</head>
<body style="font-family: 'Times New Roman', Times, serif;font-size: 14px;" onload="zzz()">
  <div id="loading-overlay">
    <img src="{% static 'tracker/dist/img/loaderdark.gif' %}" alt="Loading...">
  </div> 
  
	<div class="content-header">        
    <p class="amb-h"><img src="{% static 'tracker/dist/img/Vermeer.png' %}" height="46" width="55">&nbsp;Heavy Machinery Tracking System</p>
    <ol class="breadcrumb" style="float:left; font-size: larger;">            
      <li class="breadcrumb-item"><a style="color: black;font-family: 'Times New Roman', Times, serif; font-size: medium;" href="{% url 'Machine' %}">Home</a></li>
      <li class="breadcrumb-item active" style="color: rgb(4, 71, 6);font-family: 'Times New Roman', Times, serif;font-size: medium;">Details</li>
    </ol> 
    <div class="sidemenu">
      <li class="breadcrumb-item" id="refresh-button">
        <i class="fas fa-sync" style="color:black;cursor: pointer; align-items: end;" data-toggle="tooltip" data-placement="top" title="Refresh"></i>
      </li>
    </div>
  </div>
  
  <div class="content-header" style="font-size: large;">
    <h1 class="text-center">
      <label class="stat" style="display: block; color: rgb(50, 48, 48); font-family: 'Times New Roman', Times, serif; margin: 2px;">Status of {{vehicle}}</label>
    </h1>
  </div>        
  
  <!-- <marquee direction = "right" scrollamount=12><span style="font-weight: 600; color: rgb(255,196,37); font-size: larger;">Status of {{vehicle}}</span></marquee> -->
  
  <div class="select-container amb-d">
    <label for="pageSelect" style="font-family: 'Times New Roman', Times, serif;margin-left: 5px;">Select Vehicle:</label>
    <select id="pageSelect" style="font-family: 'Times New Roman', Times, serif;border-radius: 5px;" onchange="redirectToPage(this.value)">
      <option value="" hidden>{{vehicle}}</option>
      <option value="{% url 'viewdetail' tracker='JIVMOT0001B0001' %}" >BL0183</option>
      <option value="{% url 'viewdetail' tracker='JIVMOT0002B0002' %}" >D130x150</option>
      <!-- <option value="{% url 'viewdetail' tracker='JIVMOT0003B0003' %}" >PT1945</option> -->
      <!-- <option value="{% url 'viewdetail' tracker='JIVMOT0004B0004' %}" >MS0123</option> -->
    </select>  
  </div>    
        
  <div class="container-fluid mb-3">
    <div class="row text-center bg-light" id="descp">
        <div class="col-lg-3">
          <span style="color: black; font-family: 'Times New Roman', Times, serif;font-weight: bold">
            Machine Type: <span style="color: #652a7e;">{{ty}}</span> &nbsp;&nbsp;
          </span>
        </div>

        <div class="col-lg-3">
          <span style="color: black; font-family: 'Times New Roman', Times, serif;font-weight: bold">
            Last Gateway Status: <span id="timeAgoCell">{{l_com}}</span> &nbsp;&nbsp;
          </span>
        </div>
        <div class="col-lg-3">
          <span style="color: black; font-family: 'Times New Roman', Times, serif; font-weight: bold">
            Last Machine Run Status: <span id="timeAgoCell1">{{l_on}}</span> &nbsp;&nbsp;
          </span>
        </div>
        <div class="col-lg-3">
          <span style="color: black; font-family: 'Times New Roman', Times, serif;font-weight: bold">
            Last GPS Address: <span style="color:#652a7e;">{{l_cp}}</span> &nbsp;&nbsp;
          </span>
        </div>
    </div>
  </div>

  <form method="post" style="background:rgba(30, 168, 104, 0.05);">
  {% csrf_token %}
    <div class="col-md-4 mx-auto" style="border-radius: 10px;padding-top: 10px;" align="center">
      <div class="row">
        <div class="col-md-12">
          <div class="input-group mb-3">
            <div class="input-group-prepend" style="background:rgb(244, 241, 241);">
              <span class="input-group-text amb-d" style="color: black;background: rgb(212, 230, 204);font-family: 'Times New Roman', Times, serif; font-weight: 700;">Select Date Range: </span>
            </div>
            <input type="text" name="datetimes" id="datetimes" class="form-control" style="border: none">
            <div class="input-group-append">
              <input id="button" class="btn amb-d"  style="font-family: 'Times New Roman', Times, serif; background-color: #2f0c3e;color: #ffffff;font-family: 'Times New Roman', Times, serif;" type="submit" value="Filter" onclick="getInputValue();">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <br>
  <div id="descp" class="borderexample bg-light m-3" align="center" style="font-weight: bold;color: rgb(0, 0, 0);border-radius: 5px; font-family: 'Times New Roman', Times, serif;">
    {{dt}}
  </div>

  <div class="main">
    <div class="col-12">
      <div class="box1" style="width:100%; max-height: 100%; max-width: none; background-color:  white; border-radius: 10px;padding: 20px;">
        <!-- <div class="row"> -->
        <!-- <img src="data:image/png;base64,{{grph}}" alt=""> -->
        <h5 style="font-family: 'Times New Roman', Times, serif;" class="amb-d">Status of Vehicle Ignition</h5>
          {{grph|safe}}
        <!-- </div> -->
      </div>
    </div> 
  </div>

  <script>
const refreshButton = document.getElementById('refresh-button');

// Add a click event listener to the button
refreshButton.addEventListener('click', function() {
    // Refresh the page when the button is clicked
    location.reload();
});
document.addEventListener('DOMContentLoaded',function(updatecsTextColor) {
      var cells = document.querySelectorAll('#timeAgoCell');

      cells.forEach(function(cell) {
        var text = cell.textContent.trim()
        var parts = text.split(' ');
        var value = parseInt(parts[0]);
        var unit = parts[1];
        if (text === 'just now' || unit === 'seconds' || unit === 'minute') {
          cell.classList.add('blue-text');
        } else {          
          if (unit === 'minutes' && !isNaN(value) && value <= 10) {
            cell.classList.add('blue-text');
          } else {
            cell.classList.add('red-text');
          }
        }
      });
    })

    document.addEventListener('DOMContentLoaded',function(updatemsTextColor) {
      var cells = document.querySelectorAll('#timeAgoCell1');

      cells.forEach(function(cell) {      
        var text = cell.textContent.trim();
        var parts = text.split(' ');
        var value = parseInt(parts[0]);
        var unit = parts[1];
        if (text === 'just now' || unit === 'seconds' || unit === 'minute' || unit === 'minutes' || unit === 'hour' || unit === 'hours') {
          cell.classList.add('blue-text');
        } 
        else if(text === 'Running' || text === 'running'){
          cell.classList.add('green-text')
        }
        else {
          // Check the time unit and set the text color class accordingly
          if (unit === 'day' && !isNaN(value) && value <= 1) {
            cell.classList.add('blue-text');
          } else {
            cell.classList.add('red-text');
          }
        }
      });
    });

    function zzz() {
        // Disable clickable elements
        disableClickableElements();

        // Simulate a delay (replace this with your actual content loading logic)
        setTimeout(function () {
          // Enable clickable elements
          enableClickableElements();

          // Hide the loading overlay
          document.getElementById('loading-overlay').style.display = 'none';
        }, 2000); // Adjust the delay as needed
      }

      function disableClickableElements() {
        // Add logic to disable clickable elements (icons, buttons, etc.)
        var clickableElements = document.querySelectorAll('.clickable');
        clickableElements.forEach(function (element) {
          element.style.pointerEvents = 'none';
        });
      }

      function enableClickableElements() {
        // Add logic to enable clickable elements
        var clickableElements = document.querySelectorAll('.clickable');
        clickableElements.forEach(function (element) {
          element.style.pointerEvents = 'auto';
        });
      }



    </script>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->


</body>
</html>
{% include 'tracker/footer.html' %}