{% load static %}

<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <title>vehicle Status</title>

  <!-- IonIcons -->
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

<!-- Theme style -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">

<!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<!-- DataTables -->
<link rel="stylesheet" href="{% static 'tracker/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'tracker/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">

<!-- Font Awesome Icons -->
<link rel="stylesheet" href="{% static 'tracker/plugins/fontawesome-free/css/all.min.css' %}">
<!-- IonIcons -->
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="{% static 'tracker/dist/css/adminlte.min.css' %}">
<!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- jQuery -->
<!-- <script src="{% static 'trackers/plugins/jquery/jquery.min.js' %}"></script> -->
<!-- Bootstrap -->
<script src="{% static 'tracker/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- DataTables -->
<script src="{% static 'tracker/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'tracker/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'tracker/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'tracker/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<!-- AdminLTE -->
<script src="{% static 'tracker/dist/js/adminlte.js' %}"></script>
<!------CanvasJS for Chart-------------->
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<!-- ChartJS -->
<script src="{% static 'tracker/plugins/chart.js/Chart.min.js' %}"></script>
<!-- OPTIONAL SCRIPTS -->
<script src="{% static 'tracker/plugins/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'tracker/dist/js/demo.js' %}"></script>
<script src="{% static 'tracker/dist/js/pages/dashboard3.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'tracker/dist/js/demo.js' %}"></script>
<!-- REQUIRED SCRIPTS -->
<script src="{% static 'tracker/ckeditor/ckeditor.js' %}"></script>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
  $(function () {
  $('input[name="datetimes"]').daterangepicker({
  showDropdowns: false,
  timePicker: false,
  timePicker24Hour: true,
  startDate: moment().subtract(7, 'days'),
  endDate: moment(),
  showTimezone: true,
  locale: {
  format: 'Y MMM DD H:mm:ss'
  }
  }
  );
}
  )
  </script>


<style>
     p {
    color : rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255,196,37);
    font-style:normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-variant: small-caps;
}
  
  img{
    max-width:55%;
  max-height:55%;
  }
  
  html{
    height: 100%;
    background: rgba(15,121,72, 0.06);
  }

  body{
  line-height: 1;
  min-height: 100%;
  position: relative; }

  </style>

<style>
  .borderexample {
   border-width:2px;
   border-style:double;
   border-color:#7ebe75;
  }

  .container {
    border: 10px solid rgba(15,121,72, 0.3);
    border-style:solid;
    height: 100%;
    display:block;
    justify-content: center;
    align-items: center;
}
  </style>

</head>
<body>
  
    <div class="content-header" align="center">
        <p><img src="{% static 'tracker/dist/img/Vermeer.png' %}" height="46" width="55">&nbsp;Heavy Machinery Tracking System </p>
          
          <ol class="breadcrumb" style="float:right">        
              <li class="breadcrumb-item"><a href="{% url 'login' %}">Home</a></li>             
              <li class="breadcrumb-item active" style="color: teal;">Detail</li>
            </ol> 
          </ol>     
    </div>
   
    <marquee direction = "right" scrollamount=12><span style="font-weight: 600; color: rgb(26, 68, 20); font-size: larger;">Status of {{vehicle}}</span></marquee>
 
    <div id="row" style="padding-bottom: 2%;padding-left:2%;padding-right:2%">
    <form method="post" style="background:rgba(30, 168, 104, 0.05);">
    {% csrf_token %}
   
        <div class="col-sm-12" id="filters" align="center" style="background:rgba(15,121,72, 0.1);">
        <span>Select Date Range to filter and view Graphs : </span>&nbsp;&nbsp;
        <input type="text" name="datetimes" id="datetimes" style="padding:1px;margin: 2px;width:50%;border: 1px solid #2f0c3e;" ; />
          &nbsp;
        <input id="button" class="btn" style="background-color: #2f0c3e;color: #ffffff;" type="submit" value="Filter" onclick="getInputValue();">

        </div>
  </form>
  <br>
  <div class="borderexample" align="center" style="font-size: larger;font-weight: bold;background:rgba(15,121,72, 0.06);">
    {{dt}}
    </div>
    </div>
    <!-- <div class="card" style="background:rgba(15,121,72, 0.06);"> -->
    <div class="container" align="center" style="background:rgba(15,121,72, 0.06);">
    <div class="card-body table-responsive">
      <table id="example1" class="table table-hover">
      <thead>
      <tr>
      <th>Day</th>
      <th>Working Hours</th>
      <th>Gps</th>
      <th>Bar Chart</th>
      <th>Vehicle On Status</th>
      </tr>
      </thead>
      <tbody>

      {% for c1,st,en in rows %}
        <tr>
          <td>{{c1}}</td>
          <td>7</td>
          <!-- <td>123</td> -->
          <td> <a href=" {% url 'location' tracker=tracker start=st end=en %}"><i class="fa fa-map-marker" style="cursor:pointer;color: rgb(0,93,50); font-size:25px;"></i></a></td>
          <td> <a href=" {% url 'histo' tracker=tracker start=st end=en %}"><i class="fa fa-bar-chart" style="cursor:pointer;color: rgb(0,93,50); font-size:25px;"></i></a></td>
          <td> <a href=" {% url 'statuson' tracker=tracker start=st end=en %}"><i class="fa fa-toggle-on" style="cursor:pointer;color: rgb(0,93,50); font-size:25px;"></i></a></td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
    </div>
    </div>
    </div>
    </div>

</body>
</html>
{% include 'tracker/footer.html' %}