{% load static %}
<!DOCTYPE html>
<html lang="en">
<head style="padding: left;">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vehicle Status</title>
   <!-- DataTables -->
   <link rel="stylesheet" href="{% static 'tracker/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
   <link rel="stylesheet" href="{% static 'tracker/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
 
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="{% static 'tracker/plugins/fontawesome-free/css/all.min.css' %}">
    <!-- IonIcons -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'tracker/dist/css/adminlte.min.css' %}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    
    <!-- jQuery -->
    <script src="{% static 'tracker/plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'tracker/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- DataTables -->
    <script src="{% static 'tracker/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'tracker/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'tracker/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'tracker/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <!-- AdminLTE -->
    <script src="{% static 'tracker/dist/js/adminlte.js' %}"></script>
    <!------CanvasJS for Chart-------------->
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <!-- ChartJS -->
    <script src="{% static 'tracker/plugins/chart.js/Chart.min.js' %}"></script>
    <!-- OPTIONAL SCRIPTS -->
    <script src="{% static 'tracker/plugins/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'tracker/dist/js/demo.js' %}"></script>
    <script src="{% static 'tracker/dist/js/pages/dashboard3.js' %}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'tracker/dist/js/demo.js' %}"></script>
    <!-- REQUIRED SCRIPTS -->
    <script src="{% static 'tracker/ckeditor/ckeditor.js' %}"></script>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
    <![endif]-->
    



<script>
  $(function () {
  $('input[name="datetimes"]').daterangepicker({
  showDropdowns: false,
  timePicker: true,
  timePicker24Hour: true,
  startDate: moment().subtract(3, 'days'),
  endDate: moment(),
  showTimezone: true,
  locale: {
  format: 'Y MMM DD H:mm:ss'
  }
  }
  );
}
  )
</script>

  <style>
  p {
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255,196,37);
    font-style:normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-variant: small-caps;
}

img{
  max-width:55%;
max-height:55%;
}

</style>
     
</head>
<body>
  
<div class="content-header" align="center">
    <p><img src="{% static 'tracker/dist/img/Vermeer.png' %}" height="46" width="55">&nbsp;Heavy Machinery Tracking System </p>
    <label style="float: right;"> &nbsp;&nbsp; &nbsp; <a href="{%  url 'logout' %}" style="color:#f54343;">
      <i class="fas fa-sign-out-alt"></i>
    </a>&nbsp;&nbsp;&nbsp;&nbsp;</label>     
</div>

<div id="row" style="padding-bottom: 2%;padding-left:2%;padding-right:2%">
  
  <form method="post">
    {% csrf_token %}
    <div class="col-sm-12" id="filters">
      <span>Select Date Range to filter and view Graphs : </span>&nbsp;&nbsp;
      <input type="text" name="datetimes" id="datetimes" style="padding:1px;margin: 2px;width:50%;border: 1px solid #2f0c3e;" ; />
      &nbsp;                   
      <input id="button" class="btn" style="background-color: #2f0c3e;color: #ffffff;" type="submit" value="Filter" onclick="getInputValue();">
    </div>
  </form>
</div>
      
</body>
</html>
{% include 'tracker/footer.html' %}