

  {% load static %}

  <!-- Main Footer -->
  <footer class="main-footer" style="background-color: #000000;color:white;font-size: small; width: 100; margin: 0; bottom: 0;" >
    <div class="row">
      <div class="col-lg-8"  >
      Copyright &copy; <script>document.write(new Date().getFullYear());</script> ,&nbsp; All Rights Reserved 
      </div>
      <div class="col-lg-4"  style="text-align:right">
        <a href="https://jivass.com/" style="color: white;" target="_blank">Brought to you by Jivass Technologies&nbsp;&nbsp;<img height="30" src="{% static 'tracker/dist/img/jivass-logo.png' %}"></a><br>
      </div>
    </div>
    </footer>
  
  <!-- ./wrapper -->


  </body>
  </html>