{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>Location</title>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />

    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">

    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'tracker/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'tracker/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="{% static 'tracker/plugins/fontawesome-free/css/all.min.css' %}">
    <!-- IonIcons -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'tracker/dist/css/adminlte.min.css' %}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- jQuery -->
    <!-- <script src="{% static 'trackers/plugins/jquery/jquery.min.js' %}"></script> -->
    <!-- Bootstrap -->
    <script src="{% static 'tracker/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- DataTables -->
    <script src="{% static 'tracker/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'tracker/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'tracker/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'tracker/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <!-- AdminLTE -->
    <script src="{% static 'tracker/dist/js/adminlte.js' %}"></script>
    <!------CanvasJS for Chart-------------->
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <!-- ChartJS -->
    <script src="{% static 'tracker/plugins/chart.js/Chart.min.js' %}"></script>
    <!-- OPTIONAL SCRIPTS -->
    <script src="{% static 'tracker/plugins/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'tracker/dist/js/demo.js' %}"></script>
    <script src="{% static 'tracker/dist/js/pages/dashboard3.js' %}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'tracker/dist/js/demo.js' %}"></script>
    <!-- REQUIRED SCRIPTS -->
    <script src="{% static 'tracker/ckeditor/ckeditor.js' %}"></script>

    <script src="https://d3js.org/d3.v4.min.js"></script>

    <style>
        p {
    color : rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255,196,37);
    font-style:normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-variant: small-caps;
}
html, body, .flip, .card, .front, .back , .card{
    height:100%;
    background: rgba(166, 226, 198, 0.05)
  }
    </style>
</head>
<body>
    <div class="content-header">
        <p><img src="{% static 'tracker/dist/img/Vermeer.png' %}" height="46" width="55">&nbsp;Heavy Machinery Tracking System </p>
      
        <a class="nav-link"  href="{%  url 'slogout' %}" align="right" style="color:#f54343;">

          <i class="fas fa-sign-out-alt"></i>
        </a>

        <div class="card">

            {{folium.map|safe}}
          </div> 
        
      </div>
      
</body>
</html>
{% include 'supervisor/footer.html' %}